{% extends 'base.html' %}

{% load crispy_forms_tags %}

{% block content %}
  <div class="container main-content">
	<div class="card">
	<div class="card-body">
	<div class="flexbox flex-wrap">
	<div class="img-thumbnail display-4 align-self-center mr-3">
	<i class="ti-write"></i>
	</div>
	<div class="flex-grow align-self-center">
	<h1>Publish your SOP</h1>
	<p>List your Assay type on PhenotyposDB by providing all relevant information in the application
	form.</p>
	</div>
	</div>
	</div>
	</div>
  <div class="row align-items-center">
  	<div class="col">
	  <div class="card card-default">
	          <div class="card-header text-center">
	            <h3 class="card-title" style="font-size:14px; text-transform: uppercase !important; letter-spacing: .5px;">General Information</h3>
	            <div class="card-tools">
	              <button type="button" class="btn btn-tool" data-card-widget="collapse">
	                <i class="fas fa-minus"></i>
	              </button>
	              <button type="button" class="btn btn-tool" data-card-widget="remove">
	                <i class="fas fa-times"></i>
	              </button>
	            </div>
	          </div>
	          <!-- /.card-header -->
	          <div class="card-body">
	          	{% crispy form %}
	          </div>
	   </div>
	</div>
</div>
</div>
{% endblock %}