{% extends 'base.html' %}

{% block content %}

  {% block content_header %}
<div class="card">
    <h2 class="text-center">Assay Types</h2>
      <div class="fab fab-fixed" id="fab-publish">
    <a class="btn btn-primary btn-float" href="{% url 'add_atype' %}" title="" data-provide="tooltip" data-original-title="Publish new SOP"><i class="ti-plus"></i>
    </a>
  </div>
    <!--<p>
      <a href="{% url 'add_atype' %}" class="btn btn-info">New</a>
    </p>-->
   </div> 
  {% endblock %}
    <h1></h1>
  <table class='table sortable table-bordered table-condensed table-striped table-hover'>
    <thead>
      <tr>
        <th>Code</th>
        <th>Name</th>
        <th>Facility</th>
        <th>Service Type</th>
        <th>Staff</th>
        <th>Publication Date</th>
        <th>Version</th>
        <th>Edit/Delete</th>
      </tr>
    </thead>
    <tbody>
      {% for type in list_assays %}
        <tr class="table-row" data-href="{% url 'assaytype-detail' type.id %}">
          <!--<td>{{ assay.assayid }}</td>-->
          <td>{{ type.code }}</td>
          <td>{{ type.name }}</td>
          <td>{{ type.facilitylong }}</td>
          <td>{{ type.service_type }}</td>
          <td>{{ type.staff }}</td>
          <td>{{ type.publication_date }}</td>
          <td>{{ type.version }}</td>
          <td>
            <a class="btn btn-secondary btn-sm mt-1 mb-1 ti-pencil" href="{% url 'assaytype-update' type.id %}"></a>
            <a class="btn btn-secondary btn-sm mt-1 mb-1 ti-close" href="{% url 'assaytype-delete' type.id %}"></a>
          </td>

        </tr>
      {% endfor %}
    </tbody>
  </table>
{% endblock %}

