
{% extends 'base.html' %}
{% block content %}
  {% if user.is_authenticated %}
    {% block content_header %}
    <h2>{{object.type.code}}</h2>
    <p>
      {{object.name}}
    </p>

      <header class="coin-details-header" style=""><!--
  <script type="application/ld+json">{
  "@context": "http://schema.org/",
  "@type": "Product",
  "name": "Cardano",
  "alternateName": "ADA",
  "description": "Cardano is a decentralised public blockchain and cryptocurrency project and is fully open source. Cardano is developing a smart contract platform which seeks to deliver more advanced features than any protocol previously developed.",
  "image": "https://coincheckup.com/images/coins/cardano.png",
  "url": "https://coincheckup.com/coins/cardano",
  "offers": [
    {
      "@type": "Offer",
      "price": 1.389489162,
      "priceCurrency": "USD"
    }
  ],
  "review": {
    "reviewRating": {
      "@type": "Rating",
      "ratingValue": 3.72,
      "bestRating": "5",
      "worstRating": "0"
    },
    "author": {
      "@type": "Organization",
      "name": "CoinCheckup.com",
      "logo": "https://coincheckup.com/images/logo-lg.png",
      "url": "https://coincheckup.com",
      "description": "Live cryptocurrency prices and charts, listed by market cap. Get crypto prices, predictions, news, and historical data for Bitcoin and thousands of altcoins."
    }
  }
}</script> -->


<div class="coin-info">
    <div class="coin-logo-name">
        <div class="coin-logo">
            <img id="squareicon" class="user-image img-circle elevation-2" width="70" height="70">

        </div>
        <div class="coin-name">
            {{object.type.code}}
            <small>{{object.name}}</small>
        </div>
    </div>
</div>

<div class="key-financials">
    <table>
        <thead>
            <tr>
                <th>Cardano Price</th>
                <th ng-show="details.coin.price_change_1D_percent" class="">Change 24H</th>
                <!----><th ng-if="(!_.isNull(details.coin.price_change_7D_percent))">Change 7D</th><!---->
                <!----><th ng-if="details.coin.last_market_cap_usd">Market Cap</th><!---->
                <!----><th ng-if="details.coin.volume_24_usd">Volume 24H</th><!---->
                <!----><th ng-if="details.coin.supply">Circ. <!----><span ng-if="details.market.max_supply">/ Max</span><!----> Supply</th><!---->
                <!----><th ng-if="::details.total_score"><span class="underscore-tooltip" uib-tooltip="CoinCheckup collects objective data and algorithmically scores coins on a daily basis." aria-hidden="true" tooltip-append-to-body="true">Algo. Score</span></th><!---->
                <!----><th ng-if="coinQuickLinks.length" class="hidden-xs">Cardano Links</th><!---->
            </tr>
        </thead>
        <tbody>
            <tr>
                <td><i ng-class="{ 'change-up fal fa-long-arrow-up': details.coin.price_change_1D_percent >= 0, 'change-down fal fa-long-arrow-down': details.coin.price_change_1D_percent < 0 }" class="change-up fal fa-long-arrow-up"></i><span id="header-price">$1.43</span></td>
                <td ng-show="details.coin.price_change_1D_percent" class=""><span ng-class="{ 'change-up': details.coin.price_change_1D_percent >= 0, 'change-down': details.coin.price_change_1D_percent < 0 }" class="change-up">17.55%</span></td>
                <!----><td ng-if="(!_.isNull(details.coin.price_change_7D_percent))"><span ng-class="{ 'change-up': details.coin.price_change_7D_percent >= 0, 'change-down': details.coin.price_change_7D_percent < 0 }" class="change-up">22.65%</span></td><!---->
                <!----><td ng-if="details.coin.last_market_cap_usd">$44.96 B <small ng-show="details.market.rank > 0" class="">(#3)</small></td><!---->
                <!----><td ng-if="details.coin.volume_24_usd">$23.73 B</td><!---->
                <!----><td ng-if="details.coin.supply">
                    31.46 B
                    <!----><span ng-if="details.market.max_supply">/ 45.00 B</span><!----></td><!---->
                <!----><td ng-if="::details.total_score">
                    <a ui-sref="{ 'view' : 'analysis', 'subview' : null }" uib-tooltip="Click to see the full analysis" tooltip-append-to-body="true" href="/coins/cardano/analysis">
                        3.7/5
                    </a>
                    <small>(#97)</small>
                </td><!---->
                <!----><td ng-if="coinQuickLinks.length" class="hidden-xs">
                    <div class="links">
                        <!----><a ng-repeat="lnk in coinQuickLinks" analytics-on="" analytics-event="Click" analytics-category="Coin header" analytics-label="Website" uib-tooltip="Website" href="https://www.cardano.org/en/home/" target="_blank">
                            <i class="fa-fw fal fa-globe" aria-hidden="true"></i>
                         </a><!----><a ng-repeat="lnk in coinQuickLinks" analytics-on="" analytics-event="Click" analytics-category="Coin header" analytics-label="Twitter" uib-tooltip="Twitter" href="https://twitter.com/Cardano" target="_blank">
                            <i class="fa-fw fab fa-twitter-square" aria-hidden="true"></i>
                         </a><!----><a ng-repeat="lnk in coinQuickLinks" analytics-on="" analytics-event="Click" analytics-category="Coin header" analytics-label="Telegram" uib-tooltip="Telegram" href="https://t.me/CardanoAnnouncements" target="_blank">
                            <i class="fa-fw fab fa-telegram" aria-hidden="true"></i>
                         </a><!----><a ng-repeat="lnk in coinQuickLinks" analytics-on="" analytics-event="Click" analytics-category="Coin header" analytics-label="GitHub" uib-tooltip="GitHub" href="https://github.com/input-output-hk/cardano-sl/" target="_blank">
                            <i class="fa-fw fab fa-github" aria-hidden="true"></i>
                         </a><!----><a ng-repeat="lnk in coinQuickLinks" analytics-on="" analytics-event="Click" analytics-category="Coin header" analytics-label="Reddit" uib-tooltip="Reddit" href="https://www.reddit.com/r/cardano/" target="_blank">
                            <i class="fa-fw fab fa-reddit" aria-hidden="true"></i>
                         </a><!----><a ng-repeat="lnk in coinQuickLinks" analytics-on="" analytics-event="Click" analytics-category="Coin header" analytics-label="Blog" uib-tooltip="Blog" href="https://cardanofoundation.org/blog/" target="_blank">
                            <i class="fa-fw fal fa-rss" aria-hidden="true"></i>
                         </a><!----><a ng-repeat="lnk in coinQuickLinks" analytics-on="" analytics-event="Click" analytics-category="Coin header" analytics-label="Block explorer" uib-tooltip="Block explorer" href="https://cardanoexplorer.com/" target="_blank">
                            <i class="fa-fw fas fa-cubes" aria-hidden="true"></i>
                         </a><!----><a ng-repeat="lnk in coinQuickLinks" analytics-on="" analytics-event="Click" analytics-category="Coin header" analytics-label="Facebook" uib-tooltip="Facebook" href="https://www.facebook.com/CardanoFoundation/" target="_blank">
                            <i class="fa-fw fab fa-facebook-square" aria-hidden="true"></i>
                         </a><!----><a ng-repeat="lnk in coinQuickLinks" analytics-on="" analytics-event="Click" analytics-category="Coin header" analytics-label="YouTube" uib-tooltip="YouTube" href="https://www.youtube.com/channel/UCBJ0p9aCW-W82TwNM-z3V2w" target="_blank">
                            <i class="fa-fw fab fa-youtube" aria-hidden="true"></i>
                         </a><!---->
                    </div>
                </td><!---->
            </tr>
        </tbody>
    </table>
</div>

</header>

<div class="page-content">         

    <a class="btn btn-secondary btn-lg mt-1 mb-1 ti-pencil" href="{% url 'assay-update' object.id %}"></a>
    {% endblock %}
  <div class="row">
          <div class="col-12 connectedSortable">
            <!-- Custom Tabs -->
            <div class="card">
              <div class="card-header d-flex p-0">
                <h3 class="card-title p-3"></h3>
                <ul class="nav nav-pills ml-auto p-2">
                  <li class="nav-item"><a class="nav-link nav-link-info" href="#tab_1" data-toggle="tab">Info</a></li>
                  <li class="nav-item"><a class="nav-link nav-link-info active" href="#tab_2" data-toggle="tab">Measurements</a></li>
                  <li class="nav-item"><a class="nav-link nav-link-warning" href="#tab_3" data-toggle="tab">Analysis</a></li>
                </ul>
              </div><!-- /.card-header -->
              <div class="card-body">
                <div class="tab-content">
                  <div class="tab-pane" id="tab_1">
                                <!-- About Me Box -->
                    <div class="card card-info">
                      <div class="card-header">
                        <h3 class="card-title">Info {{ assay.type }} - {{ assay.id }}</h3>
                      </div>
                              <!-- /.card-header -->
                      <div class="card-body">
                        {% for m in mouselist %}
                        <p class="text-muted">
                          {{ m.id }}, {{ m.genotype }}, {{ m.induced }}
                        </p>                        
                        {% endfor %}
                        <strong><i class="fas fa-book mr-1"></i> Description </strong>
                        <p class="text-muted">
                          {{ assay.type.name }}
                        </p>
                        <hr>
                        <strong><i class="fas fa-pencil-alt mr-1"></i> Purpose</strong>
                        <p class="text-muted">{{ assay.type.name }}</p>
                        <hr>
                        <strong><i class="fas fa-users mr-1"></i> PI </strong>
                        <p class="text-muted">
                          <span class="tag tag-danger">{{ assay.author }},</span>
                          <span class="tag tag-success">{{ assay.scientist }}</span>
                        </p>
                        <hr>

                        <strong><i class="fas fa-calendar mr-1"></i> Dates</strong>
                        <p class="text-muted">Date Created: {{ assay.created_at }}</p>
                        <p class="text-muted">Date Modified: {{ assay.updated_at }}</p>                
                        <hr>
                        <strong><i class="far fa-file-alt mr-1"></i> Comments</strong>
                        <p class="text-muted">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Etiam fermentum enim neque.</p>
                        <h5 class="mt-5 text-muted">Project files</h5>
                        <ul class="list-unstyled">
                          <li>
                            <a href="" class="btn-link text-secondary"><i class="far fa-fw fa-file-word"></i> {{assay.rawdata_file.name}}</a>
                          </li>
                          <li>
                            <a href="" class="btn-link text-secondary"><i class="far fa-fw fa-file-word"></i> Contract-10_12_2014.docx</a>
                          </li>
                        </ul>
                      </div>
                              <!-- /.card-body -->
                    </div>
                  </div>
                  <!-- /.tab-pane -->
                  <div class="tab-pane active" id="tab_2">
                    {% block assay_content %}
                   
                    {% endblock %}
                  </div>
                  <!-- /.tab-pane -->
                  <div class="tab-pane" id="tab_3">
                    Lorem Ipsum is simply dummy text of the printing and typesetting industry.
                    Lorem Ipsum has been the industry's standard dummy text ever since the 1500s,
                    when an unknown printer took a galley of type and scrambled it to make a type specimen book.
                    It has survived not only five centuries, but also the leap into electronic typesetting,
                    remaining essentially unchanged. It was popularised in the 1960s with the release of Letraset
                    sheets containing Lorem Ipsum passages, and more recently with desktop publishing software
                    like Aldus PageMaker including versions of Lorem Ipsum.
                  </div>
                  
                  <!-- /.tab-pane -->
                </div>
                <!-- /.tab-content -->
              </div><!-- /.card-body -->

            </div>
            <!-- ./card -->
          </div>
          <!-- /.col -->
        </div>
  </div>
</div>

  {% endif %}  

{% endblock %}

<script>
  usern = '1';
  squareicon({
      id: usern, 
      hasher: SparkMD5.hash
  }, (err, data) => {
    document.getElementById("squareicon").src = data;
  });   
</script>


