{% extends 'base.html' %}

{% load crispy_forms_tags %}

{% block content %}

  <div class="container main-content">
  <div class="card">
  </div>
  <div class="row align-items-center">
    <div class="col">
    <div class="card card-default">
            <div class="card-header text-center">
              <h3 class="card-title" style="font-size:14px; text-transform: uppercase !important; letter-spacing: .5px;">Assay General Information</h3>
              <div class="card-tools">
                <button type="button" class="btn btn-tool" data-card-widget="collapse">
                  <i class="fas fa-minus"></i>
                </button>
                <button type="button" class="btn btn-tool" data-card-widget="remove">
                  <i class="fas fa-times"></i>
                </button>
              </div>
            </div>
            <!-- /.card-header -->
            <div class="card-body">
             <form method="post" enctype="multipart/form-data">
              {% csrf_token %}
              {{ imageform|crispy }}
        <button type="submit" class="btn-sm btn-dark">Add Image</button>
             </form>
            </div>
     </div>
  </div>
</div>
</div>
{% endblock %}
