{% extends 'base.html' %}

{% load crispy_forms_tags %}
{% block content %}
  <div class="container main-content">
	<div class="card">
	<div class="card-body">
	<div class="flexbox flex-wrap">
	<div class="img-thumbnail display-4 align-self-center mr-3">
	<i class="ti-write"></i>
	</div>
	<div class="flex-grow align-self-center">
	<h1>Update: {{object.id }} - {{ object.code }}</h1>
	</div>
	</div>
	</div>
	</div>
<form action='.' method='POST'>{% csrf_token %}
	{{ form|crispy }}
    <input type='submit' class="btn btn-cool" value='Save' />
    <a href="{% url 'atypes' %}" class="btn btn-danger" value='Cancel'>Cancel</a>
    <!--<input type='submit' value='Cancel' />-->
</form>
</div>



{% endblock %}