{% extends 'base.html' %}

{% block content %}

  {% block content_header %}
    <h2 class="text-center">Assays</h2>
    <hr>
  {% endblock %}

<div class="row">
    <div class="col"> 
        <div class="card-body table-responsive p-0">
          <!--<table class="table table-striped projects">-->
          <table id="example2" class="table projects dataTable">     
              <thead class="bg-teal disabled" style="top: 0px;">
                  <tr>
                    <th>#</th>
                      <th>
                          Code
                      </th>
                      <th>
                          Name
                      </th>                   
                      <th>
                          Status
                      </th>
                      <th>
                          Facility
                      </th>                      
                      <th>
                          Project Members
                      </th>
                      <th>
                          Author
                      </th>
                      <th>
                          Initiation Date
                      </th>                                                                 
                      <th>
                          Created at
                      </th>
                        <th>
                  </tr>
              </thead>
              <tbody>
                {% for assay in list_assays %}
                    <tr class="table-row"data-href="{% url 'assay-detail' assay.id %}">
                    <tr>
                      <td data="rank"></td>                 
                      <td>
                        <li class="list-inline-item">
                          <img alt="Avatar" id="{{assay.id}}" class="squareicon user-image img-circle elevation-2" width="25" height="25">
                        </li>
                        <li class="list-inline-item"><span> {{ assay.type }}</span></li>
                      </td>
                      <td>{{ assay.name|default_if_none:"-" }}</td>
                      <td class="project-state">
                        {% if assay.counter %}
                          <span class="badge bg-cool">Success</span>
                        {% else %}
                          <span class="badge badge-warning">Pending</span>
                        {% endif %}
                      </td>
                      <td>
                        {% if assay.type.facilitylong.id == 1%}
                          <h3 class="badge bg-teal">{{ assay.type.facilitylong|default_if_none:"-" }}</h3>        
                        {% elif assay.type.facilitylong.id == 2 %}
                          <h3 class="badge bg-navy">{{ assay.type.facilitylong|default_if_none:"-" }}</h3>
                        {% elif assay.type.facilitylong.id == 3 %}
                          <h3 class="badge badge-secondary">{{ assay.type.facilitylong|default_if_none:"-" }}</h3>
                        {% elif assay.type.facilitylong.id == 4 %}
                          <h3 class="badge bg-dark">{{ assay.type.facilitylong|default_if_none:"-" }}</h3>
                        {% else %}
                          <h3 class="badge bg-olive">{{ assay.type.facilitylong|default_if_none:"-" }}</h3>
                        {% endif %}
                      </td>
                      <td>
                          <ul class="list-inline">
                             {% for member in assay.listmembers %}
                                {% if member %}
                                <li class="list-inline-item">
                                    <img alt="avatar" class="avatar" src="{{ member.profile.image.url }}">
                                </li>
                                {% endif %}
                              {% endfor %}
                              <!--<li class="list-inline-item">
                                  <img alt="avatar" class="avatar" src="{{ assay.author.profile.image.url }}">
                              </li>
                            {% if assay.scientist_in_charge|default_if_none:"" %}
                              <li class="list-inline-item">
                                  <img alt="avatar" class="avatar" src="{{ assay.scientist_in_charge.profile.image.url }}">
                              </li>
                            {% endif %}
                          -->
                          </ul>
                      </td>
                      <td>
                              <li class="list-inline-item">
                                  <img alt="Avatar" class="table-avatar" src="{{ assay.author.profile.image.url }}">
                              </li>
                      </td>
                       <td>{{ assay.measurement_day|default_if_none:"-" }}</td>
                      <td>{{ assay.created_at }}</td>
                        <td class="project-actions text-right">
                            <a class="btn bg-newteal btn-xs" href="{% url 'assay-detail' assay.id %}">
                                <i class="fas fa-eye">
                                </i>
                            </a>

                            <a class="btn bg-newteal btn-xs" href="{% url 'assay-update' assay.id %}">
                                <i class="fas fa-pencil-alt">
                                </i>
                            </a>
                            <a class="btn btn-danger btn-xs" href="{% url 'assay-delete' assay.id %}">
                                <i class="fas fa-trash">
                                </i>
                            </a>
                            <!--
                            <a class="btn btn-info btn-sm" href="{% url 'assay-update' assay.id %}">
                                <i class="fas fa-pencil-alt">
                                </i>
                                Update
                            </a>
                            <a class="btn btn-danger btn-sm" href="{% url 'assay-delete' assay.id %}">
                                <i class="fas fa-trash">
                                </i>
                                Delete
                            </a>
                          -->
                        </td>
                  </tr>
                {% endfor %}
              </tbody>
          </table>
        </div>
      </div>
    </div>
        <!-- /.card-body -->
  </div>
{% endblock %}


{% block sidebar_content %}
        {% if user.is_authenticated %}
        <!-- /.sidebar -->
          <!-- Sidebar Menu -->
          <nav class="mt-2">
            <ul class="nav nav-pills nav-sidebar flex-column" data-widget="treeview" role="menu" data-accordion="false">
              <!-- Add icons to the links using the .nav-icon class
                   with font-awesome or any other icon font library -->
              <li class="nav-item has-treeview">
                <a href="#" class="nav-link">
                  <i class="nav-icon fas fa-tachometer-alt"></i>
                  <p>
                    Dashboard
                    <i class="right fas fa-angle-left"></i>
                  </p>
                </a>
                <ul class="nav nav-treeview">
           <li class="nav-header">ASSAYS</li>
                  <li class="nav-item">
                    <a href="{% url 'user-assays' user.username %}" class="nav-link">
                      <i class="far fa-list-alt nav-icon"></i>
                      <p>My Assays</p>
                    </a>
                  </li>
                  {% if user.profile.facility %}
                  <li class="nav-item">
                    <a href="{% url 'group-assays' user.username %}" class="nav-link active">
                      <i class="fa fa-group nav-icon"></i>
                      <p>{{user.profile.facility}}</p>
                    </a>
                  </li>
                  {% endif %}
                  <li class="nav-item">
                    <a href="{% url 'add_atype'%}" class="nav-link">
                      <i class="fas fa-plus nav-icon"></i>
                      <p>New SOP</p>
                    </a>
                  </li>
                </ul>
                <ul class="nav nav-treeview">
            {% if user.groups.all.0.name == "Admin" or user.groups.all.0.name == "Scientific staff"%}
           <li class="nav-header">PIPELINES</li>
                  <li class="nav-item">
                    <a href="{% url 'user-pipelines' user.username %}" class="nav-link">
                      <i class="fas fa-sitemap nav-icon"></i>
                      <p>My Experiments</p>
                    </a>
                  </li>
                  <li class="nav-item">
                    <a href="{% url 'add_pipelinetype'%}" class="nav-link">
                      <i class="fas fa-plus nav-icon"></i>
                      <p>New Pipeline</p>
                    </a>
                  </li>
                  {% endif %}                 
                </ul>
                {% if user.groups.all.0.name == "Admin" %}
                <ul class="nav nav-treeview">
                  <li class="nav-header">USERS</li>
                  <li class="nav-item">
                    <a href="{% url 'users_all'%}" class="nav-link">
                      <i class="fas fa-cog nav-icon"></i>
                      <p>Users</p>
                    </a>
                  </li>
                </ul>  
                {% endif %}
                <ul class="nav nav-treeview">
                  <li class="nav-header">REPORTS</li>
                  <li class="nav-item">
                    <a href="{% url 'build-report'%}" class="nav-link">
                      <i class="fas fa-plus nav-icon"></i>
                      <p>Build a Report</p>
                    </a>
                  </li>
                </ul>                
              </li>
            </ul>
          </nav>
          <!-- /.sidebar-menu -->
        {% endif %}
      {% endblock %}
