{% extends "base.html" %}
{% block sidebar_content %}

  {% if flag_users %}
        <!-- Sidebar Menu -->
        <nav class="mt-2">
          <ul class="nav nav-pills nav-sidebar flex-column" data-widget="treeview" role="menu" data-accordion="false">
            <!-- Add icons to the links using the .nav-icon class
                 with font-awesome or any other icon font library -->
            <li class="nav-item has-treeview menu-open">
              <a href="#" class="nav-link">
                <i class="nav-icon fas fa-tachometer-alt"></i>
                <p>
                  Dashboard
                  <i class="right fas fa-angle-left"></i>
                </p>
              </a>
              <ul class="nav nav-treeview">
         <li class="nav-header">ASSAYS</li>
                <li class="nav-item">
                  <a href="{% url 'user-assays' user.username %}" class="nav-link">
                    <i class="far fa-list-alt nav-icon"></i>
                    <p>My Assays</p>
                  </a>
                </li>
                <li class="nav-item active">
                  <a href="{% url 'group-assays' user.username %}" class="nav-link">
                    <i class="fa fa-group nav-icon"></i>
                    <p>Facility</p>
                  </a>
                </li>
                <li class="nav-item">
                    <a href="{% url 'add_atype'%}" class="nav-link">
                      <i class="fas fa-plus nav-icon"></i>
                      <p>New SOP</p>
                    </a>
                </li>
              </ul>
              <ul class="nav nav-treeview">
         <li class="nav-header">PIPELINES</li>
                <li class="nav-item">
                  <a href="{% url 'user-pipelines' user.username %}" class="nav-link">
                    <i class="fas fa-sitemap nav-icon"></i>
                    <p>My Pipelines</p>
                  </a>
                </li>
                {% if user.groups.all.0.name == "Admin" %}
                  <li class="nav-item">
                    <a href="{% url 'add_pipelinetype'%}" class="nav-link">
                      <i class="fas fa-plus nav-icon"></i>
                      <p>New Protocol</p>
                    </a>
                  </li>
                  {% endif %}                 
                </ul>
                {% if user.groups.all.0.name == "Admin" %}
                <ul class="nav nav-treeview">
                  <li class="nav-header">USERS</li>
                  <li class="nav-item">
                    <a href="{% url 'users_all'%}" class="nav-link active">
                      <i class="fas fa-cog nav-icon"></i>
                      <p>Users</p>
                    </a>
                  </li>
                </ul>  
                {% endif %}  

            </li>
          </ul>
        </nav>
        <!-- /.sidebar-menu -->
    {% endif %}

{% endblock sidebar_content %}

{% block content %}
        <div class="card-body pb-0">
          <div class="row d-flex align-items-stretch">
          {% for user in users %}
            <div class="col-12 col-sm-4 col-md-3 d-flex align-items-stretch">
              <div class="card bg-light">
                <div class="card-header text-muted border-bottom-0">

                  {{ user.user.groups.all.0.name }}
                </div>
                <div class="card-body pt-0">
                  <div class="row">
                    <div class="col-7">
                      <h4 class="lead"><b>{{user.first_name|default_if_none:""}} {{user.last_name|default_if_none:""}}</b></h2>
                      <p class="text-muted text-sm"><b>Email: </b> {{user.user.email|default_if_none:""}} </p>
                      {% if user.facility %}
                      <p class="text-muted text-sm"><b>Facility: </b> {{user.facility|default_if_none:""}} </p>
                      {% endif %}
                      <ul class="ml-4 mb-0 fa-ul text-muted">
                        {% if user.address_1 %}
                        <li class="small"><span class="fa-li"><i class="fas fa-lg fa-building"></i></span> Address: {{user.address_1}} {{user.address_2}}, {{user.state}}, {{user.postal_code}}, {{user.city}}</li>
                        {% endif %}
                        {% if user.phone_number %}
                        <li class="small"><span class="fa-li"><i class="fas fa-lg fa-phone"></i></span> Phone #: {{user.phone_number}} </li>
                        {% endif %}
                        {% if user.interal_phone %}
                        <li class="small"><span class="fa-li"><i class="fas fa-lg fa-phone"></i></span> Internal Phone: {{user.interal_phone}}</li>
                        {% endif %}
                      </ul>
                    </div>
                    <div class="col-5 text-center">
                      <img src="{{ user.image.url }}" alt="user-avatar" class="img-circle img-fluid" width="150px">
                    </div>
                  </div>
                </div>
                <div class="card-footer">
                  <div class="text-right">
                    <a href="{% url 'edit-user' user.id %}" class="btn btn-sm bg-teal">
                      <i class="fas fa-user"></i> View
                    </a>
                  </div>
                </div>
              </div>
            </div>
            {% endfor %}
			</div>
</div>
{% endblock content %}