{% extends 'base.html' %}

{% load crispy_forms_tags %}

{% block content %}
  <h2>New Assay</h2>
  <form method="post" enctype="multipart/form-data">
    {% csrf_token %}
    {{ form|crispy }}
    <button type="submit" class="btn btn-info">Add Assay</button>
  </form>
{% endblock %}

{% block sidebar_content %}

    <!-- /.sidebar -->
      <!-- Sidebar Menu -->
      <nav class="mt-2">
        <ul class="nav nav-pills nav-sidebar flex-column" data-widget="treeview" role="menu" data-accordion="false">
          <!-- Add icons to the links using the .nav-icon class
               with font-awesome or any other icon font library -->
          <li class="nav-item has-treeview">
            <a href="#" class="nav-link">
              <i class="nav-icon fas fa-tachometer-alt"></i>
              <p>
                Dashboard
                <i class="right fas fa-angle-left"></i>
              </p>
            </a>
            <ul class="nav nav-treeview">
       <li class="nav-header">ASSAYS</li>
              <li class="nav-item">
                <a href="{% url 'user-assays' user.username %}" class="nav-link">
                  <i class="far fa-circle nav-icon"></i>
                  <p>My Assays</p>
                </a>
              </li>
              <li class="nav-item">
                <a href="{% url 'user-assays' user.username %}" class="nav-link">
                  <i class="far fa-circle nav-icon"></i>
                  <p>Group</p>
                </a>
              </li>
            </ul>
            <ul class="nav nav-treeview">
       <li class="nav-header">PIPELINES</li>
              <li class="nav-item">
                <a href="#" class="nav-link">
                  <i class="fa-flask nav-icon"></i>
                  <p>My Pipelines</p>
                </a>
              </li>
            </ul>

          </li>
        </ul>
      </nav>
      <!-- /.sidebar-menu -->

{% endblock %}