{% load staticfiles %}

<!DOCTYPE html>
<!--
This is a starter template page. Use this page to start your new project from
scratch. This page gets rid of all links and provides the needed markup only.
-->
<html lang="en">
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <meta http-equiv="x-ua-compatible" content="ie=edge">
  <meta charset="utf-8">
  <meta name="keywords" content="We are, Creative, Research, Service Design, Digital Products, Data Integration, and Programs &amp; Evaluation">
  <meta name="description" content="">
  <link rel="icon" href="{% static 'images/experiment.png' %}">
  <title>PhenotyposDB</title>
  <link rel="stylesheet" href="{% static 'css/nicepage.css' %}" media="screen">
  <link rel="stylesheet" href="{% static 'css/Home-1.css' %}" media="screen">
  <script class="u-script" type="text/javascript" src="{% static 'js/nicepage.js' %}" defer=""></script>
  <link rel="stylesheet" href="{% static 'css/extra.css' %}">

  <script src="https://cdnjs.cloudflare.com/ajax/libs/jspdf/1.3.3/jspdf.min.js"></script>
  <script type="text/javascript" src="https://html2canvas.hertzen.com/dist/html2canvas.js"></script>
  <!-- Font Awesome Icons -->
  <link rel="stylesheet" href="{% static 'plugins/fontawesome-free/css/all.min.css' %}">
  <link rel="stylesheet" href="{% static 'dist/css/dropify.min.css' %}">
  <!-- overlayScrollbars -->
  <link rel="stylesheet" href="{% static 'plugins/overlayScrollbars/css/OverlayScrollbars.min.css' %}">
    <!-- Ekko Lightbox -->
  <link rel="stylesheet" href="{% static 'plugins/ekko-lightbox/ekko-lightbox.css' %}">

  <!-- Theme style -->
  <link rel="stylesheet" href="{% static 'dist/css/adminlte.min.css' %}">

  <link rel="stylesheet" href="{% static 'css/themify-icons.css' %}">
  <link rel="stylesheet" href="{% static 'css/highcharts.css' %}">
  <!--[if lt IE 8]><!-->
  <link rel="stylesheet" href="{% static 'ie7/ie7.css' %}">
  <!-- Extra style -->
  <!-- Select2 -->
  <link rel="stylesheet" href="{% static 'plugins/select2/css/select2.min.css' %}">
  <link rel="stylesheet" href="{% static 'plugins/select2-bootstrap4-theme/select2-bootstrap4.min.css' %}">
  <!-- Bootstrap4 Duallistbox -->
  <link rel="stylesheet" href="{% static 'plugins/bootstrap4-duallistbox/bootstrap-duallistbox.min.css' %}">
  <!-- BS Stepper -->
  <link rel="stylesheet" href="{% static 'plugins/bs-stepper/css/bs-stepper.min.css' %}">

  <!-- Ionicons -->
  <link rel="stylesheet" href="https://code.ionicframework.com/ionicons/2.0.1/css/ionicons.min.css">

  <!-- overlayScrollbars -->
  <link rel="stylesheet" href="{% static 'plugins/overlayScrollbars/css/OverlayScrollbars.min.css' %}">
  <!-- summernote -->
  <link rel="stylesheet" href="{% static 'plugins/summernote/summernote-bs4.min.css' %}">

  <!-- daterange picker -->
  <link rel="stylesheet" href="{% static 'plugins/daterangepicker/daterangepicker.css' %}">
  <!-- iCheck for checkboxes and radio inputs -->
  <link rel="stylesheet" href="{% static 'plugins/icheck-bootstrap/icheck-bootstrap.min.css' %}">
  <!-- Bootstrap Color Picker -->
  <link rel="stylesheet" href="{% static 'plugins/bootstrap-colorpicker/css/bootstrap-colorpicker.min.css' %}">
  <!-- Tempusdominus Bbootstrap 4 -->
  <link rel="stylesheet" href="{% static 'plugins/tempusdominus-bootstrap-4/css/tempusdominus-bootstrap-4.min.css' %}">
  <!-- Select2 -->
  <link rel="stylesheet" href="{% static 'plugins/select2/css/select2.min.css' %}">
  <link rel="stylesheet" href="{% static 'plugins/select2-bootstrap4-theme/select2-bootstrap4.min.css' %}">
  <!-- Bootstrap4 Duallistbox -->
  <link rel="stylesheet" href="{% static 'plugins/bootstrap4-duallistbox/bootstrap-duallistbox.min.css' %}">
    <!-- DataTables -->
  <link rel="stylesheet" href="{% static 'plugins/datatables-bs4/css/dataTables.bootstrap4.min.css' %}">
  <link rel="stylesheet" href="{% static 'plugins/datatables-responsive/css/responsive.bootstrap4.min.css' %}">
  <link rel="stylesheet" href="{% static 'plugins/datatables-buttons/css/buttons.bootstrap4.min.css' %}">
  <link rel="stylesheet" href="{% static 'plugins/datatables-colreorder/css/colReorder.bootstrap4.min.css' %}">

  <!-- daterange picker -->
  <link rel="stylesheet" href="{% static 'plugins/daterangepicker/daterangepicker.css' %}">

  <!-- Tempusdominus Bbootstrap 4 -->
  <link rel="stylesheet" href="{% static 'plugins/tempusdominus-bootstrap-4/css/tempusdominus-bootstrap-4.min.css' %}">
  <!-- Select2 -->
  <link rel="stylesheet" href="{% static 'plugins/select2/css/select2.min.css' %}">
  <link rel="stylesheet" href="{% static 'plugins/select2-bootstrap4-theme/select2-bootstrap4.min.css' %}">
  
  <!-- Bootstrap4 Duallistbox -->
  <link rel="stylesheet" href="{% static 'plugins/bootstrap4-duallistbox/bootstrap-duallistbox.min.css' %}">
  <!-- Theme style -->
  <link rel="stylesheet" href="{% static 'dist/css/adminlte.min.css' %}">


  <link rel="stylesheet" href="{% static 'css/extra.css' %}">
  <!--
    <link rel="stylesheet" href="{% static 'css/main.css' %}">
  -->
    <!-- Google Font: Source Sans Pro -->
  <link href="https://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,400i,700" rel="stylesheet">
  <link id="u-theme-google-font" rel="stylesheet" href="https://fonts.googleapis.com/css?family=Ubuntu:300,300i,400,400i,500,500i,700,700i|Open+Sans:300,300i,400,400i,600,600i,700,700i,800,800i">
  <link id="u-page-google-font" rel="stylesheet" href="https://fonts.googleapis.com/css?family=Montserrat:100,100i,200,200i,300,300i,400,400i,500,500i,600,600i,700,700i,800,800i,900,900i|Lato:100,100i,300,300i,400,400i,700,700i,900,900i|Ubuntu:300,300i,400,400i,500,500i,700,700i|Ubuntu:300,300i,400,400i,500,500i,700,700i">
    <style> 
        td.details-control { 
            /* Image in the first column to 
                indicate expand*/ 
            background: url('../static/images/more.png') 
                no-repeat center; 
                  
            cursor: pointer; 
        } 
  
        tr.shown td.details-control { 
            background: url('../static/images/shrinkdata.PNG')  
                no-repeat center; 
        } 
    </style> 
</head>
<body class="hold-transition sidebar-mini layout-fixed layout-footer-fixed">
<div class="wrapper">

  <!-- Navbar -->
  <nav class="main-header navbar navbar-expand navbar-white navbar-light">
    <!-- Left navbar links -->
    <ul class="navbar-nav">
      <li class="nav-item">
        <a class="nav-link" data-widget="pushmenu" href="#" role="button" collapsed="False"><i class="fas fa-bars"></i></a>
      </li>
      <li>
        <div class="u-custom-menu u-nav-container">
          <ul class="u-custom-font u-font-ubuntu u-nav u-spacing-30 u-unstyled u-nav-3">
            <li class="u-nav-item"><a class="u-border-2 u-border-active-palette-1-base u-border-hover-palette-5-dark-2 u-border-no-bottom u-border-no-left u-border-no-right u-button-style u-nav-link u-text-active-palette-1-base u-text-grey-70 u-text-hover-grey-70" href="{% url 'home' %}">Home</a>
            </li>
            <li class="u-nav-item dropdown"><a class="u-border-2 u-border-active-palette-1-base u-border-hover-palette-5-dark-2 u-border-no-bottom u-border-no-left u-border-no-right u-button-style u-nav-link u-text-active-palette-1-base u-text-grey-70 u-text-hover-grey-70" id="dropdownSubMenu1" href="{% url 'assays' %}" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" class="nav-link dropdown-toggle">Assays</a>
                          <ul aria-labelledby="dropdownSubMenu1" class="dropdown-menu border-0 shadow">
                            <li><a href="{% url 'assays' %}" class="dropdown-item">All Assays</a></li>
                            {% if user.is_authenticated %}
                            <li><a href="{% url 'add_assay' %}" class="dropdown-item">Add Assay</a></li>
                            <li><a href="{% url 'atypes' %}" class="dropdown-item">SOPs </a></li>
                            <li><a href="{% url 'add_atype' %}" class="dropdown-item">Add SOP</a></li>
                            {% endif %}
                          </ul>
            </li>
            <li class="u-nav-item dropdown"><a class="u-border-2 u-border-active-palette-1-base u-border-hover-palette-5-dark-2 u-border-no-bottom u-border-no-left u-border-no-right u-button-style u-nav-link u-text-active-palette-1-base u-text-grey-70 u-text-hover-grey-70" id="dropdownSubMenu1" href="{% url 'pipelines' %}" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" class="nav-link dropdown-toggle">Pipelines</a>
              <ul aria-labelledby="dropdownSubMenu1" class="dropdown-menu border-0 shadow">
                <li><a href="{% url 'pipelines' %}" class="dropdown-item">All Pipelines</a></li>
                {% if user.is_authenticated %}
                {% if user.groups.all.0.name == "Admin" %}
                <li><a href="{% url 'add-pipeline' %}" class="dropdown-item">Add Pipeline</a></li>
                <li><a href="{% url 'pipelinetypes' %}" class="dropdown-item">Protocols</a></li>
                <li><a href="{% url 'add_pipelinetype' %}" class="dropdown-item">Add Protocol</a></li>
                {% endif %}
                {% if user.groups.all.0.name == "Scientific staff" %}
                <li><a href="{% url 'add-pipeline' %}" class="dropdown-item">Add Pipeline</a></li>
                <li><a href="{% url 'pipelinetypes' %}" class="dropdown-item">Protocols</a></li>
                <li><a href="{% url 'add_pipelinetype' %}" class="dropdown-item">Add Protocol</a></li>
                {% endif %}
                {% endif %} 
              </ul>
            </li>
                  <li class="u-nav-item">
              <!-- SEARCH FORM -->
      <form class="form-inline ml-2" method=POST action="{% url 'search' %}">
        {% csrf_token %}
        <div class="input-group input-group-sm">
          <input class="form-control form-control-navbar" name="searched" type="search" placeholder="Search" aria-label="Search">
          <div class="input-group-append">
            <button class="btn btn-navbar" type="submit">
              <i class="fas fa-search"></i>
            </button>
          </div>
        </div>
      </form>
      </li>
          </ul>
        </div>
      </li>
      </ul>


      <!--
      <li class="nav-item d-none d-sm-inline-block">
        <a href="{% url 'home' %}" class="nav-link">Home</a>
      </li>
      <li class="nav-item dropdown">
              <a id="dropdownSubMenu1" href="{% url 'assays' %}" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" class="nav-link dropdown-toggle">Assays</a>
              <ul aria-labelledby="dropdownSubMenu1" class="dropdown-menu border-0 shadow">
                <li><a href="{% url 'assays' %}" class="dropdown-item">All Assays</a></li>
                {% if user.is_authenticated %}
                <li><a href="{% url 'add_assay' %}" class="dropdown-item">Add Assay</a></li>
                <li><a href="{% url 'atypes' %}" class="dropdown-item">All Types </a></li>
                <li><a href="{% url 'add_atype' %}" class="dropdown-item">Add Type</a></li>
                {% endif %}
              </ul>  
      </li>
      <li class="nav-item dropdown">
              <a id="dropdownSubMenu2" href="{% url 'pipelines' %}" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" class="nav-link dropdown-toggle">Pipelines</a>
              <ul aria-labelledby="dropdownSubMenu2" class="dropdown-menu border-0 shadow">
                <li><a href="{% url 'pipelines' %}" class="dropdown-item">All Pipelines</a></li>
                {% if user.is_authenticated %}
                <li><a href="{% url 'add-pipeline' %}" class="dropdown-item">Add Pipeline</a></li>
                {% endif %}                
              </ul>   
      </li>
    </ul>
  -->


    <!-- Right navbar links -->
    <ul class="navbar-nav ml-auto">
      <!-- Notifications Dropdown Menu -->
      <!---
      <li class="nav-item dropdown">
        <a class="nav-link" data-toggle="dropdown" href="#">
          <i class="far fa-bell"></i>
          <span class="badge badge-warning navbar-badge">15</span>
        </a>
        <div class="dropdown-menu dropdown-menu-lg dropdown-menu-right">
          <span class="dropdown-header">15 Notifications</span>
          <div class="dropdown-divider"></div>
          <a href="#" class="dropdown-item">
            <i class="fas fa-envelope mr-2"></i> 4 new messages
            <span class="float-right text-muted text-sm">3 mins</span>
          </a>
          <div class="dropdown-divider"></div>
          <a href="#" class="dropdown-item">
            <i class="fas fa-users mr-2"></i> 8 friend requests
            <span class="float-right text-muted text-sm">12 hours</span>
          </a>
          <div class="dropdown-divider"></div>
          <a href="#" class="dropdown-item">
            <i class="fas fa-file mr-2"></i> 3 new reports
            <span class="float-right text-muted text-sm">2 days</span>
          </a>
          <div class="dropdown-divider"></div>
          <a href="#" class="dropdown-item dropdown-footer">See All Notifications</a>
        </div>
      </li>
    -->
      {% if user.is_authenticated%}
        <!-- User -->
      <li class="nav-item dropdown user-menu">
        <a href="{% url 'profile' %}" class="nav-link dropdown-toggle" data-toggle="dropdown">
          <img src="{{ user.profile.image.url }}" class="user-image img-circle elevation-2" alt="User Image">
          
        </a>
        <ul class="dropdown-menu dropdown-menu-lg dropdown-menu-right">
          <!-- User image -->
          <li class="user-header bg-dark">
            <img src="{{ user.profile.image.url }}" class="user-image img-circle elevation-2" alt="User Image">
              <p>
                {{ user.username }} - {{user.groups.all.0.name}}
                <small>{{ user.email }}</small>
              </p>
          </li>

        <!-- Menu Footer -->
          <li class="user-footer">
            <a href="{% url 'profile' %}" class="btn-btn-default btn-flat">Profile</a>
            <a href="{% url 'logout' %}" class="btn-btn-default btn-flat float-right">Sign out</a>
          </li>
      </ul>
    </li>
      {% else %}
      <li class="nav-item d-none d-sm-inline-block">
        <a href="{% url 'login' %}" class="nav-link">Login</a>
      </li>
      <li class="nav-item d-none d-sm-inline-block">
        <a href="{% url 'register' %}" class="nav-link">Register</a>
      </li>    
      {% endif %}
    </ul>
  </nav>
  <!-- /.navbar -->

  <!-- Main Sidebar Container -->
  <aside class="main-sidebar sidebar-dark-teal elevation-4">
    <!-- Brand Logo -->
    <a href="{% url 'assays' %}" class="brand-link">
      <img src="{% static 'dist/img/phenLogo.png' %}" alt="AdminLTE Logo" class="brand-image img-circle elevation-3"
           style="opacity: .8">
      <span class="brand-text font-weight-light">PhenotyposDB</span>
    </a>

    <!-- Sidebar -->
    <div class="sidebar">
      {% if user.is_authenticated %}
        <!-- Sidebar user panel (optional) -->
        <div class="user-panel mt-3 pb-3 mb-3 d-flex">
          <div class="image">
            <img src="{{ user.profile.image.url }}" class="img-circle elevation-2" alt="User Image">
          </div>
          <div class="info">
            <a href="{% url 'profile' %}" class="d-block">{{ user.username }}</a>
          </div>
        </div>
      {% endif %}
      {% block sidebar_content %}
        {% if user.is_authenticated %}
        <!-- /.sidebar -->
          <!-- Sidebar Menu -->
          <nav class="mt-2">
            <ul class="nav nav-pills nav-sidebar flex-column" data-widget="treeview" role="menu" data-accordion="false">
              <!-- Add icons to the links using the .nav-icon class
                   with font-awesome or any other icon font library -->
              <li class="nav-item has-treeview">
                <a href="#" class="nav-link">
                  <i class="nav-icon fas fa-tachometer-alt"></i>
                  <p>
                    Dashboard
                    <i class="right fas fa-angle-left"></i>
                  </p>
                </a>
                <ul class="nav nav-treeview">
           <li class="nav-header">ASSAYS</li>
                  <li class="nav-item">
                    <a href="{% url 'user-assays' user.username %}" class="nav-link">
                      <i class="far fa-list-alt nav-icon"></i>
                      <p>My Assays</p>
                    </a>
                  </li>
                  <li class="nav-item">
                    <a href="{% url 'group-assays' user.username %}" class="nav-link">
                      <i class="fa fa-group nav-icon"></i>
                      <p>Facility</p>
                    </a>
                  </li>
                  <li class="nav-item">
                    <a href="{% url 'add_atype'%}" class="nav-link">
                      <i class="fas fa-plus nav-icon"></i>
                      <p>New SOP</p>
                    </a>
                  </li>
                </ul>
                <ul class="nav nav-treeview">
           <li class="nav-header">PIPELINES</li>
                  <li class="nav-item">
                    <a href="{% url 'user-pipelines' user.username %}" class="nav-link">
                      <i class="fas fa-sitemap nav-icon"></i>
                      <p>My Pipelines</p>
                    </a>
                  </li>
                   {% if user.groups.all.0.name == "Admin" %}
                  <li class="nav-item">
                    <a href="{% url 'add_pipelinetype'%}" class="nav-link">
                      <i class="fas fa-plus nav-icon"></i>
                      <p>New Protocol</p>
                    </a>
                  </li>
                  {% endif %}                 
                </ul>
                {% if user.groups.all.0.name == "Admin" %}
                <ul class="nav nav-treeview">
                  <li class="nav-header">USERS</li>
                  <li class="nav-item">
                    <a href="{% url 'users_all'%}" class="nav-link">
                      <i class="fas fa-cog nav-icon"></i>
                      <p>Users</p>
                    </a>
                  </li>
                </ul>  
                {% endif %}
                <ul class="nav nav-treeview">
                  <li class="nav-header">REPORTS</li>
                  <li class="nav-item">
                    <a href="{% url 'build-report'%}" class="nav-link">
                      <i class="fas fa-plus nav-icon"></i>
                      <p>Build a Report</p>
                    </a>
                  </li>
                </ul>                
              </li>
            </ul>
          </nav>
          <!-- /.sidebar-menu -->
        {% endif %}
      {% endblock %}
    </div>
    <!-- /.sidebar -->
  </aside>

  <!-- /.control-sidebar -->
  <!-- Content Wrapper. Contains page content -->
  <div class="content-wrapper">
    <!-- Content Header (Page header) -->
    <div class="content-header">
      <div class="container-fluid">
        <div class="row mb-2">
          <div class="col-sm-6">
            <!--
            <ol class="breadcrumb float-sm-right">
              <li class="breadcrumb-item"><a href="#">Home</a></li>
              <li class="breadcrumb-item active">Starter Page</li>
            </ol>
          -->
          </div><!-- /.col -->
        </div><!-- /.row -->
      </div><!-- /.container-fluid -->
    </div>
    <!-- /.content-header -->

    <!-- Main content -->
    <div class="content">
      <div class="container-fluid">
        {% block content %}
            
        {% endblock %}
        <!-- /.row -->
      </div><!-- /.container-fluid -->
    </div>
    <!-- /.content -->
  </div>
  <!-- /.content-wrapper -->

  <!-- Main Footer -->
  <footer class="main-footer">
    <!-- To the right -->
    <div class="float-right d-none d-sm-inline">
      PhenotyposDB
    </div>
    <!-- Default to the left -->
    <small>Made with <span>❤</span> by D.Panou
    </small>
  </footer>

</div>
<!-- ./wrapper -->
<!-- REQUIRED SCRIPTS -->
  <!-- JSPDF -->
<script type="text/javascript" src="{% static 'js/jquery/jquery-1.7.1.min.js' %}"></script>
<script type="text/javascript" src="{% static 'js/jquery/jquery-ui-1.8.17.custom.min.js' %}"></script>
<script type="text/javascript" src="{% static 'dist/js/pdf/jspdf.umd.js' %}"></script>
<!-- jQuery -->
<script src="{% static 'plugins/jquery/jquery.min.js' %}"></script>
<!-- Bootstrap 4 -->
<script src="{% static 'plugins/bootstrap/js/bootstrap.bundle.min.js' %}"></script>

<!-- overlayScrollbars -->
<script src="{% static 'plugins/overlayScrollbars/js/jquery.overlayScrollbars.min.js' %}"></script>
<!-- jQuery UI -->
<script src="{% static 'plugins/jquery-ui/jquery-ui.min.js' %}"></script>

<!-- AdminLTE App -->
<script src="{% static 'dist/js/adminlte.min.js' %}"></script>
<script src="https://kit.fontawesome.com/520cb31bdb.js" crossorigin="anonymous"></script>
<script src="{% static 'js/script.js' %}" crossorigin="anonymous"></script>

<!--------------------------------------------------- -->

  <!-- AdminLTE for demo purposes -->
<!-- FLOT CHARTS -->
<script src="{% static 'plugins/flot/jquery.flot.js' %}"></script>
<!-- FLOT RESIZE PLUGIN - allows the chart to redraw when the window is resized -->
<script src="{% static 'plugins/flot-old/jquery.flot.resize.min.js' %}"></script>
<!-- FLOT PIE PLUGIN - also used to draw donut charts -->
<script src="{% static 'plugins/flot-old/jquery.flot.pie.min.js' %}"></script>

<!-- DataTables -->
<script src="{% static 'plugins/datatables/jquery.dataTables.min.js' %}"></script>
<script src="{% static 'plugins/datatables/jquery.dataTables.js' %}"></script>
<script src="{% static 'plugins/datatables-bs4/js/dataTables.bootstrap4.min.js' %}"></script>
<script src="{% static 'plugins/datatables-bs4/js/dataTables.bootstrap4.js' %}"></script>
<script src="{% static 'plugins/datatables-responsive/js/dataTables.responsive.min.js' %}"></script>
<script src="{% static 'plugins/datatables-responsive/js/responsive.bootstrap4.min.js' %}"></script>
<script src="https://cdn.datatables.net/searchpanes/1.2.1/css/searchPanes.dataTables.min.css"></script>

<!-- Select2 -->
<script src="{% static 'plugins/select2/js/select2.full.min.js' %}"></script>
<!-- Bootstrap4 Duallistbox -->
<script src="{% static 'plugins/bootstrap4-duallistbox/jquery.bootstrap-duallistbox.min.js' %}"></script>
<!-- InputMask -->
<script src="{% static 'plugins/moment/moment.min.js' %}"></script>
<script src="{% static 'plugins/inputmask/min/jquery.inputmask.bundle.min.js' %}"></script>
<!-- date-range-picker -->
<script src="{% static 'plugins/daterangepicker/daterangepicker.js' %}"></script>
<!-- bootstrap color picker -->
<script src="{% static 'plugins/bootstrap-colorpicker/js/bootstrap-colorpicker.min.js' %}"></script>
<!-- Tempusdominus Bootstrap 4 -->
<script src="{% static 'plugins/tempusdominus-bootstrap-4/js/tempusdominus-bootstrap-4.min.js' %}"></script>
<!-- Bootstrap Switch -->
<script src="{% static 'plugins/bootstrap-switch/js/bootstrap-switch.min.js' %}"></script>
<script type="text/javascript" src="{% static 'js/basic.js' %}"></script>

<script>
  $(function () {
    //Initialize Select2 Elements
    $('.select2').select2()

    //Initialize Select2 Elements
    $('.select2bs4').select2({
      theme: 'bootstrap4'
    })
    $("input[data-bootstrap-switch]").each(function(){
      $(this).bootstrapSwitch('state', $(this).prop('checked'));
    });

  })
</script>

<!-- jQuery Mapael -->
<script src="{% static 'plugins/jquery-mousewheel/jquery.mousewheel.js' %}"></script>
<script src="{% static 'plugins/raphael/raphael.min.js' %}"></script>
<script src="{% static 'plugins/jquery-mapael/jquery.mapael.min.js' %}"></script>
<script src="{% static 'plugins/jquery-mapael/maps/usa_states.min.js' %}"></script>

<script src="https://cdnjs.cloudflare.com/ajax/libs/jspdf/2.2.0/jspdf.umd.min.js"></script>
<script src="{% static 'plugins/datatables/jquery.dataTables.min.js' %}"></script>
<script src="{% static 'plugins/datatables-bs4/js/dataTables.bootstrap4.min.js' %}"></script>
<script src="{% static 'plugins/datatables-responsive/js/dataTables.responsive.min.js' %}"></script>
<script src="{% static 'plugins/datatables-responsive/js/responsive.bootstrap4.min.js' %}"></script>
<script src="{% static 'plugins/datatables-buttons/js/dataTables.buttons.min.js' %}"></script>
<script src="{% static 'plugins/datatables-buttons/js/buttons.bootstrap4.min.js' %}"></script>
<script src="{% static 'plugins/jszip/jszip.min.js' %}"></script>
<script src="{% static 'plugins/pdfmake/pdfmake.min.js' %}"></script>
<script src="{% static 'plugins/pdfmake/vfs_fonts.js' %}"></script>
<script src="{% static 'plugins/datatables-buttons/js/buttons.html5.min.js' %}"></script>
<script src="{% static 'plugins/datatables-buttons/js/buttons.print.min.js' %}"></script>
<script src="{% static 'plugins/datatables-buttons/js/buttons.colVis.min.js' %}"></script>
<script src="{% static 'plugins/datatables-colreorder/js/colReorder.bootstrap4.min.js' %}"></script>
<script src="{% static 'plugins/datatables-colreorder/js/dataTables.colReorder.min.js' %}"></script>

<script src="{% static 'dist/js/adminlte.min.js' %}"></script>
<script src="{% static 'dist/js/pages/dashboard2.js' %}"></script>
<!-- AdminLTE for demo purposes -->
<script src="{% static 'dist/js/adminlte.js' %}"></script>
<script src="{% static 'dist/js/dropify.min.js' %}"></script>
<script src="{% static 'js/randomcolor/randomColor.js' %}"></script>
<script src="https://cdn.jsdelivr.net/npm/spark-md5@3.0.0/spark-md5.min.js"></script>
<script src="{% static 'js/squareicon/browser.js' %}"></script>
<!-- Summernote -->
<script src="{% static 'plugins/summernote/summernote-bs4.min.js' %}"></script>
<!-- overlayScrollbars -->
<script src="{% static 'plugins/overlayScrollbars/js/jquery.overlayScrollbars.min.js' %}"></script>
<script src="https://code.highcharts.com/highcharts.js"></script>
<script src="https://code.highcharts.com/modules/exporting.js"></script>
<script src="https://code.highcharts.com/modules/export-data.js"></script>
<script src="https://code.highcharts.com/highcharts-more.js"></script>
<script src="https://code.highcharts.com/modules/accessibility.js"></script>
<script src='https://cdn.plot.ly/plotly-latest.min.js'></script>
<script src="https://code.highcharts.com/highcharts.js"></script>
<script src="https://code.highcharts.com/highcharts-more.js"></script>
<script src="https://code.highcharts.com/modules/exporting.js"></script>
<script src="https://code.highcharts.com/modules/export-data.js"></script>
<script src="https://code.highcharts.com/modules/accessibility.js"></script>
<script src="{% static 'plugins/js/bootstrap_modal_forms/static/js/jquery.bootstrap.modal.forms.js' %}"></script>
<!-- Select2 -->
<script src="{% static 'plugins/select2/js/select2.full.min.js' %}"></script>
    <!-- You can alternatively load the minified version -->
<script src="{% static 'plugins/js/bootstrap_modal_forms/static/js/jquery.bootstrap.modal.forms.min.js' %}"></script>
<!-- Ekko Lightbox -->
<script src="{% static 'plugins/ekko-lightbox/ekko-lightbox.min.js' %}"></script>
<script type="text/javascript">
    $(function () {

    $('[data-widget="pushmenu"]').PushMenu('toggle');
  })
</script>
<script type="text/javascript">
  $(document).ready(function(){
    $("multidelete").click(function(){
      if(confirm("Are you sure you want to delete these assays?")){
          var id = [];
          $(':checkbox:checked').each(function(i){
            id[i] = $(this).val()
          })
          if(id.length===0){
            alert("please select item to delete")
           }
          else{
            consol.log(id);
          }
      }
    })
  })
</script>
<script>
  $(function () {

    $(document).on('click', '[data-toggle="lightbox"]', function(event) {
      event.preventDefault();
      $(this).ekkoLightbox({
        alwaysShowClose: true
      });
    });

    $('.filter-container').filterizr({gutterPixels: 3});
    $('.btn[data-filter]').on('click', function() {
      $('.btn[data-filter]').removeClass('active');
      $(this).addClass('active');
    });
  })
</script>

<script type="text/javascript">
  var aid= document.getElementsByClassName("squareicon user-image img-circle elevation-2");
  for (var i = 0; i < aid.length; ++i) {
    var item = aid[i];
    var a = item.id;
    console.log('Test');
    console.log(a);
    squareicon({
        id: a, 
        hasher: SparkMD5.hash
    }, (err, data) => {
      document.getElementById(a).src = data;
    });
  }  
</script>

<script>
  $.widget.bridge('uibutton', $.ui.button)
</script>

        <script>
            $(document).ready(function(){
                // Basic
                $('.dropify').dropify();

                // Translated
                $('.dropify-fr').dropify({
                    messages: {
                        default: 'Glissez-déposez un fichier ici ou cliquez',
                        replace: 'Glissez-déposez un fichier ou cliquez pour remplacer',
                        remove:  'Supprimer',
                        error:   'Désolé, le fichier trop volumineux'
                    }
                });

                // Used events
                var drEvent = $('#input-file-events').dropify();

                drEvent.on('dropify.beforeClear', function(event, element){
                    return confirm("Do you really want to delete \"" + element.file.name + "\" ?");
                });

                drEvent.on('dropify.afterClear', function(event, element){
                    alert('File deleted');
                });

                drEvent.on('dropify.errors', function(event, element){
                    console.log('Has Errors');
                });

                var drDestroy = $('#input-file-to-destroy').dropify();
                drDestroy = drDestroy.data('dropify')
                $('#toggleDropify').on('click', function(e){
                    e.preventDefault();
                    if (drDestroy.isDropified()) {
                        drDestroy.destroy();
                    } else {
                        drDestroy.init();
                    }
                })
            });
        </script>
<!-- Page script -->
<script type="text/javascript">
  
   $("#excelExport").on("click", function() {
    $(".buttons-excel").trigger("click");
 });
 $("#csvExport").on("click", function() {
    $(".buttons-csv").trigger("click");
 });

  $("#pdfExport").on("click", function() {
    $(".buttons-pdf").trigger("click");
 });
</script><script type="text/javascript">
  var series2 = {{series2|safe}};

  Highcharts.chart('containerline', {
    colors: ['#969c9c', '#4ed2c5', '#0c8b94', '#303144', '#212529', '#FF9655', '#FFF263', '#6AF9C4'],
    title: {
        text: '{{title|safe}} by Gender & Genotype'
    },

    subtitle: {
        text: 'Average {{title|safe}} by Timepoint'
    },

    yAxis: {
        title: {
            text: '{{title|safe}}'
        }
    },

    xAxis: {
        title: {
          enabled: true,
          text: 'Timepoint in {{object.timesteps_in}}' 
        }
    },

    legend: {
        layout: 'vertical',
        align: 'right',
        verticalAlign: 'middle'
    },
      plotOptions: {
        series: {
            label: {
                connectorAllowed: false
            },
            pointStart: 2010
        },
        area: {
          fillColor: {
            linearGradient: {
              x1: 0,
              y1: 0,
              x2: 0,
              y2: 1
            },
            stops: [
              [0, Highcharts.getOptions().colors[7]],
              [1, Highcharts.color(Highcharts.getOptions().colors[7]).setOpacity(0).get('rgba')],
              [2, Highcharts.getOptions().colors[1]],
              [3, Highcharts.color(Highcharts.getOptions().colors[1]).setOpacity(0).get('rgba')]
            ]
          },
          marker: {
            radius: 2
          },
          lineWidth: 1,
          states: {
            hover: {
              lineWidth: 1
            }
          },
          threshold: null
        }
      },

    series: series2,

    responsive: {
        rules: [{
            condition: {
                maxWidth: 500
            },
            chartOptions: {
                legend: {
                    layout: 'horizontal',
                    align: 'center',
                    verticalAlign: 'bottom'
                }
            }
        }]
    }

});

/*
var data = {
    2016: [
        ['South Korea', 0],
        ['Japan', 0],
        ['Australia', 0],
        ['Germany', 17],
        ['Russia', 19],
        ['China', 26],
        ['Great Britain', 27],
        ['United States', 46]
    ],
    2012: [
        ['South Korea', 13],
        ['Japan', 0],
        ['Australia', 0],
        ['Germany', 0],
        ['Russia', 24],
        ['China', 38],
        ['Great Britain', 29],
        ['United States', 46]
    ],
    2008: [
        ['South Korea', 0],
        ['Japan', 0],
        ['Australia', 0],
        ['Germany', 16],
        ['Russia', 22],
        ['China', 51],
        ['Great Britain', 19],
        ['United States', 36]
    ],
    2004: [
        ['South Korea', 0],
        ['Japan', 16],
        ['Australia', 17],
        ['Germany', 0],
        ['Russia', 27],
        ['China', 32],
        ['Great Britain', 0],
        ['United States', 37]
    ],
    2000: [
        ['South Korea', 0],
        ['Japan', 0],
        ['Australia', 16],
        ['Germany', 13],
        ['Russia', 32],
        ['China', 28],
        ['Great Britain', 0],
        ['United States', 36]
    ]
};

var countries = [{
    name: 'South Korea',
    flag: 197582,
    color: 'rgb(201, 36, 39)'
}, {
    name: 'Japan',
    flag: 197604,
    color: 'rgb(201, 36, 39)'
}, {
    name: 'Australia',
    flag: 197507,
    color: 'rgb(0, 82, 180)'
}, {
    name: 'Germany',
    flag: 197571,
    color: 'rgb(0, 0, 0)'
}, {
    name: 'Russia',
    flag: 197408,
    color: 'rgb(240, 240, 240)'
}, {
    name: 'China',
    flag: 197375,
    color: 'rgb(255, 217, 68)'
}, {
    name: 'Great Britain',
    flag: 197374,
    color: 'rgb(0, 82, 180)'
}, {
    name: 'United States',
    flag: 197484,
    color: 'rgb(215, 0, 38)'
}];


function getData(data) {
    return data.map(function (country, i) {
        return {
            name: country[0],
            y: country[1],
            color: countries[i].color
        };
    });
}

var chart = Highcharts.chart('containercolumn', {
    chart: {
        type: 'column'
    },
    title: {
        text: 'Summer Olympics 2016 - Top 5 countries by Gold medals',
        align: 'left'
    },
    subtitle: {
        text: 'Comparing to results from Summer Olympics 2012 - Source: <a href="https://en.wikipedia.org/wiki/2016_Summer_Olympics_medal_table">Wikipedia</a>',
        align: 'left'
    },
    plotOptions: {
        series: {
            grouping: false,
            borderWidth: 0
        }
    },
    legend: {
        enabled: false
    },
    tooltip: {
        shared: true,
        headerFormat: '<span style="font-size: 15px">{point.point.name}</span><br/>',
        pointFormat: '<span style="color:{point.color}">\u25CF</span> {series.name}: <b>{point.y} medals</b><br/>'
    },
    xAxis: {
        type: 'category',
        max: 4,
        labels: {
            useHTML: true,
            animate: true,
            formatter: function () {
                var value = this.value,
                    output;

                countries.forEach(function (country) {
                    if (country.name === value) {
                        output = country.flag;
                    }
                });

                return '<span><img src="https://image.flaticon.com/icons/svg/197/' + output + '.svg" style="width: 40px; height: 40px;"/><br></span>';
            }
        }
    },
    yAxis: [{
        title: {
            text: 'Gold medals'
        },
        showFirstLabel: false
    }],
    series: [{
        name: '2016',
        id: 'main',
        dataSorting: {
            enabled: true,
            matchByName: true
        },
        dataLabels: [{
            enabled: true,
            inside: true,
            style: {
                fontSize: '16px'
            }
        }],
        data: getData(data[2016]).slice()
    }],
    exporting: {
        allowHTML: true
    }
});

var years = [2016, 2012, 2008, 2004, 2000];

years.forEach(function (year) {
    var btn = document.getElementById(year);

    btn.addEventListener('click', function () {

        document.querySelectorAll('.buttons button.active').forEach(function (active) {
            active.className = '';
        });
        btn.className = 'active';

        chart.update({
            title: {
                text: 'Summer Olympics ' + year + ' - Top 5 countries by Gold medals'
            },
            subtitle: {
                text: 'Comparing to results from Summer Olympics ' + (year - 4) + ' - Source: <a href="https://en.wikipedia.org/wiki/' + (year) + '_Summer_Olympics_medal_table">Wikipedia</a>'
            },
            series: [{
                name: year,
                data: getData(data[year]).slice()
            }]
        }, true, false, {
            duration: 800
        });
    });
});
*/
</script>
<script type="text/javascript">
    var scarplot = {{scarplot|safe}};
    var series = {{series|safe}};
    Highcharts.setOptions({
 colors: ['#969c9c', '#4ed2c5', '#0c8b94', '#303144', '#212529', '#FF9655', '#FFF263', '#6AF9C4']
});
    Highcharts.chart('container', {
      chart: {
        type: 'scatter',
        zoomType: 'xy'
      },
      title: {
        text: '{{title|safe}} - Timestep by Gender & Genotype'
      },
      subtitle: {
        text: 'Timepoint in {{object.timesteps_in}}'
      },
      xAxis: {
        title: {
          enabled: true,
          text: 'Timepoint'
        },
        startOnTick: true,
        endOnTick: true,
        showLastLabel: true
      },
      yAxis: {
        title: {
          text: '{{title|safe}}'
        }
      },
      legend: {
        layout: 'vertical',
        align: 'left',
        verticalAlign: 'top',
        x: 100,
        y: 70,
        floating: true,
        backgroundColor: Highcharts.defaultOptions.chart.backgroundColor,
        borderWidth: 1
      },
      plotOptions: {
        scatter: {
          marker: {
            radius: 5,
            states: {
              hover: {
                enabled: true,
                lineColor: 'rgb(100,100,100)'
              }
            }
          },
          states: {
            hover: {
              marker: {
                enabled: false
              }
            }
          },
          tooltip: {
            headerFormat: '<b>{series.name}</b><br>',
            pointFormat: '{point.x} cm, {point.y} kg'
          }
        }
      },
      series: series  
    });

    Highcharts.chart('containerboxplot', {

        chart: {
            type: 'boxplot'
        },

        title: {
            text: 'Box Plot of {{title|safe}} - Timestep by Gender & Genotype'
        },

        legend: {
            enabled: false
        },

        xAxis: {
            categories: ['6', '24'],
            title: {
                text: 'Timestep'
            }
        },

        yAxis: {
            title: {
                text: 'Observations'
            },
/*            plotLines: [{
                value: 932,
                color: 'red',
                width: 1,
                label: {
                    text: 'Theoretical mean: 932',
                    align: 'center',
                    style: {
                        color: 'gray'
                    }
                }
            }]*/
        },

        series: [{
            name: 'Observations',
            /*data: series2['data'],*/
                data: [
            [760, 801, 848, 895, 965],
            [834, 836, 864, 882, 910]
    ],
            tooltip: {
                headerFormat: '<em>Experiment No {point.key}</em><br/>'
            }
        }, {
            name: 'Outliers',
            color: Highcharts.getOptions().colors[0],
            type: 'scatter',
            data: 
            [ // x, y positions where 0 is the first category
                [-0.1, 760],
                [-0.12, 801],
                [-0.13, 848],
                [-0.14, 895],
                [-0, 965],
                [0, 644],
                [0.8, 718],
                [0.7, 951],
                [0.6, 969]
            ],
            marker: {
                fillColor: 'white',
                lineWidth: 1,
                lineColor: Highcharts.getOptions().colors[5]
            },
            tooltip: {
                pointFormat: 'Observation: {point.y}'
            }
        },
        {
            name: 'Observations',
            /*data: series2['data'],*/
                data: [
            [73, 80, 84, 89, 96],
            [840, 830, 860, 880, 910]
    ],
            tooltip: {
                headerFormat: '<em>Experiment No {point.key}</em><br/>'
            }
        }, {
            name: 'Outliers',
            color: Highcharts.getOptions().colors[1],
            type: 'scatter',
            data: [ // x, y positions where 0 is the first category
                [1.1, 840],
                [1.3, 830],
                [1, 860],
                [1, 895],
                [1, 880],
                [1, 910]
            ],
            marker: {
                fillColor: 'white',
                lineWidth: 1,
                lineColor: Highcharts.getOptions().colors[1]
            },
            tooltip: {
                pointFormat: 'Test: {point.y}'
            }
        }]

    });
</script>
</body>
</html>

