{% extends 'base.html' %}
{% load staticfiles %}

{% block content %}
    <section class="content">
        <div class="container-fluid">
            <!--div class="row">
                <div class="col-md-8 offset-md-2">
                    <form method=POST action="{% url 'search' %}">
                        {% csrf_token %}
                        <div class="input-group input-group-lg">
                            <input type="search" class="form-control form-control-lg" name= "searched" placeholder="Type your keywords here" value="{{ searched }}">
                            <div class="input-group-append">
                                <button type="submit" class="btn btn-lg btn-default">
                                    <i class="fa fa-search"></i>
                                </button>
                            </div>
                        </div>
                    </form>
                </div>
            </div> -->
            {% if searched %}
            <div class="row mt-3">
                <div class="col-md-10 offset-md-1">
                    <h4 align="center">You searched for {{ searched }}</h4>
                        {% if assays %}
                        <h4>Assays</h4>
                        {% for assay in assays %}
                            <div class="list-group-item">
                                <div class="row">
                                    <div class="col-2">
                                        <label style="color:rgba(0, 0, 0, 0.66);"><strong>{{assay.name|default_if_none:""}}</strong></label style="color:rgba(0, 0, 0, 0.66);"><br>
                                        <img alt="Avatar" id="{{assay.id}}" class="squareicon user-image img-circle elevation-2" width="130" height="130">
                                        <!--<iframe width="240" height="160" src="{% url 'assay-detail2' assay.id %}" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" class="border-0" allowfullscreen></iframe>-->
                                    </div>                                                                
                                    <div class="col px-4">
                                        <div>
                                            <div class="float-right"><small>{{assay.measurement_day|default_if_none:""}}</small>   <div class="col-auto"><a class="btn btn-light btn-md mt-3 mb-1" href="{% url 'assay-detail' assay.id %}"><i class="ti-eye" aria-hidden="true"></i></a></div></div>
                                            <h3>{{assay.type.name|default_if_none:""|safe}}</h3>
                                            <p class="mb-0">{{assay.type.purpose|default_if_none:""|safe}}</p>
                                            <p class="mb-0">{{assay.type.description|safe|default_if_none:""}}</p>
                                        </div>
                                        <div class="row" width="100%">                                
                                            <div class="col-auto"><strong>Testing Protocol</strong><br><button type="button" class="btn-xs btn-dark" data-toggle="modal" data-target="#modal-default">{{assay.type.code}}</br></div>
                                            <div class="col-auto">
                                                <strong>Authors</strong>
                                                <br>
                                                <img alt="Avatar" class="table-avatar" src="{{ assay.author.profile.image.url }}" style="width: 30px;">
                                                {% if assay.scientist %}
                                                    <img alt="Avatar" class="table-avatar" src="{{ assay.scientist.profile.image.url }}" style="width: 30px;">
                                                {% endif %}
                                                </br>
                                            </div>
                                            <div class="col-auto"><strong>Staff</strong><br>{{assay.staff|default_if_none:""}}</br></div>
                                            <div class="col-auto"><strong>Duration time</strong><br>{{assay.duration|default_if_none:"x"}}/{{assay.timesteps_in|default_if_none:""}}</br></div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        {% endfor %}
                    {% endif %}
                    {% if pipelines %}
                        <h4>Pipelines</h4>
                        <div class="list-group-item">
                            <div class="row">
                                {% for pipeline in pipelines %}
                                    <div class="col-2">
                                        <label style="color:rgba(0, 0, 0, 0.66);"><strong>{{pipeline.name|default_if_none:""}}</strong></label style="color:rgba(0, 0, 0, 0.66);"><br>
                                       <img src="{% static 'images/network.png' %}" class="squareicon user-image img-circle elevation-2" width="130" height="130">
                                    </div>  
                                     <div class="col px-4">
                                        <div>
                                            <div class="float-right"><small>
                                                <div class="col-auto"><strong>Duration</strong><br>{{pipeline.pip_start|default_if_none:"TBD"}}-{{pipeline.pip_end|default_if_none:"TBD"}}</small></br><div class="col-auto"><a class="btn btn-light btn-md mt-3 mb-1" href="{% url 'pipeline-detail2' pipeline.id %}"><i class="ti-eye" aria-hidden="true"></i></a></div></div>
                                        </div>
                                        <div class="row" width="100%">                                
                                            <div class="col-auto"><strong>Model</strong><br><button type="button" class="btn-xs btn-dark" data-toggle="modal" data-target="#modal-default">{{pipeline.model|default_if_none:""}}</br></div>
                                            <div class="col-auto"><strong>Status</strong><br>
                                                {% if pipeline.status == 'Pending' %}
                                                    <button type="button" class="btn-xs btn-warning" data-toggle="modal" data-target="#modal-default">{{pipeline.status}}</br></div>
                                                {% else %}
                                                    <button type="button" class="btn-xs btn-success" data-toggle="modal" data-target="#modal-default">{{pipeline.status}}</br></div>
                                                {% endif %}                                            

                                            <div class="col-auto">
                                                <strong>PI</strong>
                                                <br>
                                                <img alt="Avatar" class="table-avatar" src="{{ pipeline.pi.profile.image.url }}" style="width: 30px;">
                                                </br>
                                            </div>
                                        </div>
                                    </div>
                                {% endfor %}
                            </div>
                        </div>
                    {% endif %}
                    
                    </div>
                </div>
            </div>

        {% endif %}
        </div>
    </section>
{% endblock %}