{% extends 'assays/detail_assay.html' %}

{% block assay_content %}
 <!-- /.card -->
    <div class="row">
      <div class="col-12">
        <div class="card">
          <div class="card-header">
            <h3 class="card-title">Measurements</h3>
          </div>
          <!-- /.card-header -->
          <div class="card-body">
            <div id="example1_wrapper" class="dataTables_wrapper dt-bootstrap4">
              <div class="row">
                <div class="col-sm-12">
                  <table id="example1" class="table table-bordered table-hover dataTable" aria-describedby="example1_info">
                <thead class="thead-light">
                <tr>
                  <th>Mouse ID</th>
                  <th>Mouse Genotype</th>        
                  <th>Timepoint</th>        
                  <th>Measurement Date</th>
                  <th>Sample Source</th>
                  <th>Cholesterol (mmol/liter)</th>
                  <th>HDL-cholesterol (mmol/liter)</th>
                  <th>LDL-cholesterol (mmol/liter)</th>
                  <th>Triglycerides (mmol/liter)</th>
                  <th>NEFA (mmol/liter)</th>
                  <th>Age</th>
                  <th>Comment</th>
                </tr>
              </thead>
              <tbody>
                {% for assay in measures %}
                  <tr class="table-row"data-href="{% url 'assay-detail' assay.id %}">
                    <!--<td>{{ assay.assayid }}</td>-->
                    <td>{{ assay.mid }}</td>
                    <td>{{ assay.mid.genotype }}</td>          
                    <td>{{ assay.timepoint }}</td>
                    <td>{{ assay.measurement_date }}</td>
                    <td>{{ assay.sample_source }}</td>
                    <td>{{ assay.cholesterol }}</td>
                    <td>{{ assay.hdl_cholesterol }}</td>
                    <td>{{ assay.ldl_cholesterol }}</td>
                    <td>{{ assay.triglycerides }}</td>
                    <td>{{ assay.nefa }}</td>
                    <td>{{ assay.age }}</td>
                    <td>{{ assay.comment }}</td>
                  </tr>
                  </tr>
                {% endfor %}
              </tbody>
                  </table>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
{% endblock %}
