{% extends 'assays/detail_assay.html' %}

{% block assay_content %}
 <!-- /.card -->
    <div class="row">
      <div class="col-12">
        <div class="card">
          <div class="card-header">
            <h3 class="card-title">Measurements</h3>
          </div>
          <!-- /.card-header -->
          <div class="card-body">
            <div id="example1_wrapper" class="dataTables_wrapper dt-bootstrap4">
              <div class="row">
                <div class="col-sm-12">
                  <table id="example1" class="table table-bordered table-hover dataTable" aria-describedby="example1_info">
                <thead class="thead-light">
                <tr>
                    <th>Mouse ID</th>
                    <th>Mouse Genotype</th>        
                    <th>Timepoint</th>        
                    <th>Measurement Date</th>
                    <th>Sample ID</th>
                    <th>WBC count</th>
                    <th># Mononuclear cells</th>
                    <th># Lymphocytes</th>
                    <th>% Lymphocytes</th>
                    <th># Monocytes</th>
                    <th># Monocytes 2</th>
                    <th># Neutrophils</th>
                    <th>% Neutrophils</th>
                    <th># Eosinophils</th>
                    <th>% Eosinophils</th>
                    <th># Basophils</th>
                    <th>% Basophils</th>
                    <th>RBC count</th>
                    <th>Hematocrit</th>
                    <th>Hemoblobin</th>
                    <th>PLT platelet count</th>
                    <th>platelet distribution range</th>
                    <th>platelet count</th>
                    <th>Average volume of platelets</th>
                    <th>MCV</th>
                    <th>RDV</th>
                    <th>MCHC</th>
                    <th>MCV2</th>
                    <th>Comments</th>   
                </tr>
              </thead>
              <tbody>
                {% for assay in measures %}
                  <tr class="table-row"data-href="{% url 'assay-detail' assay.id %}">
                    <!--<td>{{ assay.assayid }}</td>-->
                      <td>{{ assay.mid }}</td>
                      <td>{{ assay.mid.genotype|default_if_none:"" }}</td>          
                      <td>{{ assay.timepoint|default_if_none:"" }}</td>
                      <td>{{ assay.measurement_date|default_if_none:"" }}</td>
                      <td>{{ assay.sample_id|default_if_none:"" }}</td>
                      <td>{{ assay.wbc_count|default_if_none:"" }}</td>
                      <td>{{ assay.mononuclear_num|default_if_none:"" }}</td>
                      <td>{{ assay.lymphocytes_num|default_if_none:"" }}</td>
                      <td>{{ assay.lymphocytes_per|default_if_none:"" }}</td>
                      <td>{{ assay.monocytes_num|default_if_none:"" }}</td>
                      <td>{{ assay.monocytes2_num|default_if_none:"" }}</td>
                      <td>{{ assay.neutrophils_num|default_if_none:"" }}</td>
                      <td>{{ assay.neutrophils_per|default_if_none:"" }}</td>
                      <td>{{ assay.eosinophils_num|default_if_none:"" }}</td>
                      <td>{{ assay.eosinophils_per|default_if_none:"" }}</td>
                      <td>{{ assay.basophils_num|default_if_none:"" }}</td>
                      <td>{{ assay.basophils_per|default_if_none:"" }}</td>
                      <td>{{ assay.rbc_count|default_if_none:"" }}</td>
                      <td>{{ assay.ht|default_if_none:"" }}</td>
                      <td>{{ assay.hb|default_if_none:"" }}</td>
                      <td>{{ assay.plt_count|default_if_none:"" }}</td>
                      <td>{{ assay.platelet_dist_range|default_if_none:"" }}</td>
                      <td>{{ assay.platelet_count|default_if_none:"" }}</td>
                      <td>{{ assay.avg_vol_platelets|default_if_none:"" }}</td>
                      <td>{{ assay.mcv|default_if_none:"" }}</td>
                      <td>{{ assay.rdv|default_if_none:"" }}</td>
                      <td>{{ assay.mchc|default_if_none:"" }}</td>
                      <td>{{ assay.mcv2|default_if_none:"" }}</td>
                      <td>{{ assay.comment|default_if_none:"" }}</td>
                  </tr>
                  </tr>
                {% endfor %}
              </tbody>
                  </table>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
{% endblock %}
