{% extends 'assays/detail_assay2.html' %}

{% block assay_content %}
 <!-- /.card -->
    <div class="row">
      <div class="col-12">
        <div class="card">
          <div class="card-header">
            <h3 class="card-title">Measurements</h3>
          </div>
          <!-- /.card-header -->
          <div class="card-body">
            <div id="example1_wrapper" class="dataTables_wrapper dt-bootstrap4">
              <div class="row">
                <div class="col-sm-12">
                  <table id="example1" class="table table-bordered table-hover dataTable" aria-describedby="example1_info">
                <thead class="thead-light">
                <tr>
                    <th>Mouse ID</th>
                    <th>Mouse Genotype</th>        
                    <th>Timepoint</th>        
                    <th>Measurement Date</th>
                    <th>Inflammation score small intestine</th>
                    <th>Epithelial damage small intestine</th>
                    <th>Inflammation score large intestine</th>
                    <th>Epithelial damage large intestine</th>
                    <th>Villus/Crypt ratio</th>        
                    <th>Colon Length</th>        
                    <th>Epithelium flattening small intestine</th>        
                    <th>Apoptotic bodies/field small intestine</th>        
                    <th>Goblet cell depletion small intestine</th>        
                    <th>Lumen exfoliation small intestine</th>        
                    <th>Villus shortening small intestine</th>        
                    <th>Intestinal gland damage small intestine</th>        
                    <th>Paneth activation small intestine</th>        
                    <th>Peyer patch small intestine</th>        
                    <th>Apoptotic bodies/field large intestine</th>        
                    <th>Goblet cell depletion large intestine</th>        
                    <th>Lumen exfoliation large intestine</th>        
                    <th>Crypt damage  large intestine</th>                  
                    <th>Endothelial cell activation large intestine</th>                  
                    <th>Age (days)</th>
                    <th>Comments</th>                  

                </tr>
              </thead>
              <tbody>
                {% for assay in measures %}
                  <tr class="table-row"data-href="{% url 'assay-detail' assay.id %}">
                    <!--<td>{{ assay.assayid }}</td>-->
                      <td>{{ assay.mid }}</td>
                      <td>{{ assay.mid.genotype|default_if_none:"" }}</td>          
                      <td>{{ assay.timepoint|default_if_none:"" }}</td>
                      <td>{{ assay.measurement_date|default_if_none:"" }}</td>
                      <td>{{ assay.inflammation_small|default_if_none:"" }}</td>
                      <td>{{ assay.epithelial_small|default_if_none:"" }}</td>
                      <td>{{ assay.inflammation_large|default_if_none:"" }}</td>
                      <td>{{ assay.epithelial_large|default_if_none:"" }}</td>
                      <td>{{ assay.vc_ratio|default_if_none:"" }}</td>
                      <td>{{ assay.colon_length|default_if_none:"" }}</td>
                      <td>{{ assay.epithelium_s_flattening|default_if_none:"" }}</td>
                      <td>{{ assay.apoptotic_s_field|default_if_none:"" }}</td>
                      <td>{{ assay.goblet_s_depletion|default_if_none:"" }}</td>
                      <td>{{ assay.lumen_s_exfoliation|default_if_none:"" }}</td>
                      <td>{{ assay.villus_s_short|default_if_none:"" }}</td>
                      <td>{{ assay.igd_small|default_if_none:"" }}</td>
                      <td>{{ assay.paneth_s_activation|default_if_none:"" }}</td>
                      <td>{{ assay.peyer_s_patch|default_if_none:"" }}</td>
                      <td>{{ assay.apoptotic_l_field|default_if_none:"" }}</td>
                      <td>{{ assay.goblet_l_depletion|default_if_none:"" }}</td>
                      <td>{{ assay.lumen_l_exfoliation|default_if_none:"" }}</td>
                      <td>{{ assay.crypt_l_damage|default_if_none:"" }}</td>
                      <td>{{ assay.endothelial_l_activation|default_if_none:"" }}</td>
                      <td>{{ assay.age|default_if_none:"" }}</td>
                      <td>{{ assay.comment|default_if_none:"" }}</td>
                  </tr>
                  </tr>
                {% endfor %}
              </tbody>
                  </table>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
{% endblock %}
