{% extends 'assays/detail_assay2.html' %}

{% block measured_values %}
  Small Intestine<br>
  Large Intestine
{% endblock %}

{% block min_models %}
 3M + 3F
{% endblock %}

{% block assay_content %}
 <!-- /.card -->
    <div class="row">
      <div class="col-12">
        <div class="card card-dark">
          <div class="card-header">
            <h3 class="card-title">Data</h3>
          </div>
          <!-- /.card-header -->
          <div class="card-body">
            <div id="example1_wrapper" class="dataTables_wrapper dt-bootstrap4">
              <div class="row">
                <div class="col-sm-12">
                  <table id="example1" class="table table-bordered table-hover dataTable" aria-describedby="example1_info">
                <thead class="thead-light">
                <tr>
                    <th>Mouse ID</th>
                    <th>Mouse Genotype</th>        
                    <th>Timepoint ({{object.timesteps_in}})</th>        
                    <th>Measurement Date</th>
                    <th>Inflammation score small intestine</th>
                    <th>Epithelial damage small intestine</th>
                    <th>Inflammation score large intestine</th>
                    <th>Epithelial damage large intestine</th>
                    <th>Villus/Crypt ratio</th>        
                    <th>Colon Length</th>        
                    <th>Epithelium flattening small intestine</th>        
                    <th>Apoptotic bodies/field small intestine</th>        
                    <th>Goblet cell depletion small intestine</th>        
                    <th>Lumen exfoliation small intestine</th>        
                    <th>Villus shortening small intestine</th>        
                    <th>Intestinal gland damage small intestine</th>        
                    <th>Paneth activation small intestine</th>        
                    <th>Peyer patch small intestine</th>        
                    <th>Apoptotic bodies/field large intestine</th>        
                    <th>Goblet cell depletion large intestine</th>        
                    <th>Lumen exfoliation large intestine</th>        
                    <th>Crypt damage  large intestine</th>                  
                    <th>Endothelial cell activation large intestine</th>                  
                    <th>Age (days)</th>
                    <th>Comments</th>
                </tr>
              </thead>
              <tbody>
                {% for assay in measures %}
                  <tr class="table-row" data-href="#" class="btn" data-toggle="popover" data-img="../../static/dist/img/phenLogo.png" title='<div class="row"><div class="col-md-3"><img src="../../static/dist/img/phenLogo.png" class="img-circle mr-sm-5" alt="Sample Image" width="40" height="40"></div><div class="col-md-9"><h5><b>Mouse {{assay.mid}}</h5></div></div' data-content='
                    <div class="media"></div><div class="media-body"><p><b>Gender</b>: {{assay.mid.gender|default_if_none:""}}</p>
                    <p><b>Genotype</b>: {{assay.mid.genotype|default_if_none:""}}</p> 
                    <p><b>Date of Birth</b>: {{assay.mid.date|default_if_none:""}}</p> 
                    <p><b>Age</b>: {{assay.mid.age|default_if_none:""}} </p> 
                    <p><b>Induced</b>: {{assay.mid.induced|default_if_none:""}}</p>     
                    <p><b>Treated</b>: {{assay.mid.treated|default_if_none:""}}</p> 
                    <p><b>Diet</b>: {{assay.mid.diet|default_if_none:""}}</p> 
                    <p><b>Other Mouse Information</b>: {{assay.mid.mouse_info|default_if_none:""}}</p>
                    <p><b>Other environmental data</b>: {{assay.mid.other|default_if_none:""}}</p></div>'>
                    <!--<td>{{ assay.assayid }}</td>-->
                      <td>{{ assay.mid }}</td>
                      <td>{{ assay.mid.genotype|default_if_none:"" }}</td>          
                      <td>{{ assay.timepoint|default_if_none:"" }}</td>
                      <td>{{ assay.measurement_date|default_if_none:"" }}</td>
                      <td>{{ assay.inflammation_small|default_if_none:"" }}</td>
                      <td>{{ assay.epithelial_small|default_if_none:"" }}</td>
                      <td>{{ assay.inflammation_large|default_if_none:"" }}</td>
                      <td>{{ assay.epithelial_large|default_if_none:"" }}</td>
                      <td>{{ assay.vc_ratio|default_if_none:"" }}</td>
                      <td>{{ assay.colon_length|default_if_none:"" }}</td>
                      <td>{{ assay.epithelium_s_flattening|default_if_none:"" }}</td>
                      <td>{{ assay.apoptotic_s_field|default_if_none:"" }}</td>
                      <td>{{ assay.goblet_s_depletion|default_if_none:"" }}</td>
                      <td>{{ assay.lumen_s_exfoliation|default_if_none:"" }}</td>
                      <td>{{ assay.villus_s_short|default_if_none:"" }}</td>
                      <td>{{ assay.igd_small|default_if_none:"" }}</td>
                      <td>{{ assay.paneth_s_activation|default_if_none:"" }}</td>
                      <td>{{ assay.peyer_s_patch|default_if_none:"" }}</td>
                      <td>{{ assay.apoptotic_l_field|default_if_none:"" }}</td>
                      <td>{{ assay.goblet_l_depletion|default_if_none:"" }}</td>
                      <td>{{ assay.lumen_l_exfoliation|default_if_none:"" }}</td>
                      <td>{{ assay.crypt_l_damage|default_if_none:"" }}</td>
                      <td>{{ assay.endothelial_l_activation|default_if_none:"" }}</td>
                      <td>{{ assay.age|default_if_none:"" }}</td>
                      <td>{{ assay.comment|default_if_none:"" }}</td>
                  </tr>
                  </tr>
                {% endfor %}
              </tbody>
                  </table>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
{% endblock %}


{% block assaytype_content %}
                    <p></p>
                    <p></p>
                    <p></p>
                    <p>A <b>Histological</b> phenotypic assay was performed on <b>{{total}} mice</b>.</p>
                    <p> The charts show the results of measuring <b>Alanine aminotransferase</b> in <b>{{females}}
                    female</b>, <b>{{males}} male</b> mutants compared to <b>362 female</b>, <b>316 male</b> controls.</p> 
                    <p> The mutants are <b></b> for the <b> Tnfrsf1a<sup>tm2b(EUCOMM)Wtsi</sup></b> allele.</p>
{% endblock %}


}

{% block info_content %}
<div id="Scoring"><h3>Histological Scoring for a-CD3 mediated enteropathy </h3></div> 
    <div class="row">
          <!-- Left col -->
      <div class="col-md-6">
            <div class="card">
              <div class="card-header border-0">
                <h3 class="card-title">Small intestine</h3>
                <div class="card-tools">
                  <a href="#" class="btn btn-tool btn-sm">
                    <i class="fas fa-download"></i>
                  </a>
                  <a href="#" class="btn btn-tool btn-sm">
                    <i class="fas fa-bars"></i>
                  </a>
                </div>
              </div>
              <div class="card-body table-responsive p-0">
                <table class="table table-striped table-valign-middle">
                      <thead>
                          <tr>
                              <th>Score</th>
                              <th>0    </th>
                              <th>1    </th>
                              <th>2    </th>
                              <th>3    </th>
                              <th>4    </th>
                          </tr>
                      </thead>
                      <tbody>
                            <tr>
                              <td>Epithelium flattening</td>
                              <td> </td>
                              <td>Minimal (<10%)</td>
                              <td>Mild (10-25%)</td>
                              <td>Moderate (26-50%)</td>
                              <td>Marked (>51%)</td>
                          </tr>
                          <tr>
                              <td>Apoptotic bodies/field</td>
                              <td>0</td>
                              <td>1-3</td>
                              <td>4-5</td>
                              <td>8-13</td>
                              <td> >13</td>
                          </tr>
                            <tr>
                              <td>Goblet cell depletion (relative to baseline by Pas stain)</td>
                              <td> </td>
                              <td>Minimal (<10%)</td>
                              <td>Mild (10-25%)</td>
                              <td>Moderate (26-50%)</td>
                              <td>Marked (>51%)</td>
                          </tr>
                            <tr>
                              <td>Lumen exfoliation</td>
                              <td> </td>
                              <td>Minimal</td>
                              <td>Mild</td>
                              <td>Moderate</td>
                              <td>Marked</td>
                          </tr>
                            <tr>
                              <td>Villus shortening</td>
                              <td> </td>
                              <td> </td>
                              <td>Mild (< 25%)</td>
                              <td>Moderate (26-50%)</td>
                              <td>Marked (>51%)</td>
                          </tr>
                            <tr>
                              <td>Intestinal gland damage</td>
                              <td> </td>
                              <td> </td>
                              <td>Mild</td>
                              <td>Moderate</td>
                              <td>Marked</td>
                          </tr>
                            <tr>
                              <td>Paneth activation (relative to baseline by Pas stain)</td>
                              <td> </td>
                              <td> </td>
                              <td>Mild</td>
                              <td> </td>
                              <td>Marked</td>
                          </tr>
                            <tr>
                              <td>Peyer patch</td>
                              <td>1-2</td>
                              <td> </td>
                              <td>3-5</td>
                              <td> </td>
                              <td> >6 </td>
                          </tr>
                            <tr>
                              <td><strong>Score (min 0, max 32)</strong></td>
                              <td> </td>
                              <td> </td>
                              <td> </td>
                              <td> </td>
                              <td> </td>
                          </tr>                                    
                      </tbody>
                </table>
              </div>
            </div>
      </div>
      <div class="col-md-6">
            <div class="card">
              <div class="card-header border-0">
                <h3 class="card-title">Large intestine</h3>
                <div class="card-tools">
                  <a href="#" class="btn btn-tool btn-sm">
                    <i class="fas fa-download"></i>
                  </a>
                  <a href="#" class="btn btn-tool btn-sm">
                    <i class="fas fa-bars"></i>
                  </a>
                </div>
              </div>
              <div class="card-body table-responsive p-0">
                <table class="table table-striped table-valign-middle">
                      <thead>
                          <tr>
                              <th>Score</th>
                              <th>0    </th>
                              <th>1    </th>
                              <th>2    </th>
                              <th>3    </th>
                              <th>4    </th>
                          </tr>
                      </thead>
                      <tbody>
                          <tr>
                              <td>Apoptotic bodies/field</td>
                              <td>0</td>
                              <td> </td>
                              <td>1-3</td>
                              <td>4-8</td>
                              <td> >9</td>
                          </tr>
                            <tr>
                              <td>Goblet cell depletion (relative to baseline by Pas stain)</td>
                              <td> </td>
                              <td>Minimal (<10%)</td>
                              <td>Mild (10-25%)</td>
                              <td>Moderate (26-50%)</td>
                              <td>Marked (>51%)</td>
                          </tr>
                            <tr>
                              <td>Lumen exfoliation</td>
                              <td> </td>
                              <td>Minimal</td>
                              <td>Mild</td>
                              <td>Moderate</td>
                              <td>Marked</td>
                          </tr>
                            <tr>
                              <td>Crypt damage</td>
                              <td> </td>
                              <td> </td>
                              <td>Mild</td>
                              <td>Moderate</td>
                              <td>Marked</td>
                          </tr>
                            <tr>
                              <td>Endothelial cell activation</td>
                              <td> </td>
                              <td> </td>
                              <td>Mild</td>
                              <td> </td>
                              <td>Marked</td>
                          </tr>
                            <tr>
                              <td><strong>Score (min 0, max 32)</strong></td>
                              <td> </td>
                              <td> </td>
                              <td> </td>
                              <td> </td>
                              <td> </td>
                          </tr>                                    
                      </tbody>
                </table>
              </div>
            </div>
      </div>
    </div>

{% endblock%}
{% block chart_content %}
<div class="card">
        <div class="row">
          <div class="col-md-4">
            <div class="card card-teal card-outline">
              <div class="card-header">
                <h3 class="card-title">
                  <i class="far fa-chart-bar"></i>
                  Line Chart
                </h3>

                <div class="card-tools">
                  <button type="button" class="btn btn-tool" data-card-widget="collapse"><i class="fas fa-minus"></i>
                  </button>
                  <button type="button" class="btn btn-tool" data-card-widget="remove"><i class="fas fa-times"></i>
                  </button>
                </div>
              </div>
              <div class="card-body">
                <div id="line-chart" style="height: 300px;"></div>
              </div>
              <!-- /.card-body-->
            </div>
            <!-- /.card -->
            <!-- Area chart -->
            <div class="card card-teal card-outline">
              <div class="card-header">
                <h3 class="card-title">
                  <i class="far fa-chart-bar"></i>
                  Area Chart
                </h3>

                <div class="card-tools">
                  <button type="button" class="btn btn-tool" data-card-widget="collapse"><i class="fas fa-minus"></i>
                  </button>
                  <button type="button" class="btn btn-tool" data-card-widget="remove"><i class="fas fa-times"></i>
                  </button>
                </div>
              </div>
              <div class="card-body">
                <div id="area-chart" style="height: 338px;" class="full-width-chart"></div>
              </div>
              <!-- /.card-body-->
            </div>
            <!-- /.card -->

          </div>
          <!-- /.col -->

          <div class="col-md-4">
            <!-- Bar chart -->
            <div class="card card-teal card-outline">
              <div class="card-header">
                <h3 class="card-title">
                  <i class="far fa-chart-bar"></i>
                  Bar Chart
                </h3>

                <div class="card-tools">
                  <button type="button" class="btn btn-tool" data-card-widget="collapse">
                    <i class="fas fa-minus"></i>
                  </button>
                  <button type="button" class="btn btn-tool" data-card-widget="remove">
                    <i class="fas fa-times"></i>
                  </button>
                </div>
              </div>
              <div class="card-body">
                <div id="bar-chart" style="height: 300px;"></div>
              </div>
              <!-- /.card-body-->
            </div>
            <!-- /.card -->

            <!-- Donut chart -->
            <div class="card card-teal card-outline">
              <div class="card-header">
                <h3 class="card-title">
                  <i class="far fa-chart-bar"></i>
                  Donut Chart
                </h3>

                <div class="card-tools">
                  <button type="button" class="btn btn-tool" data-card-widget="collapse"><i class="fas fa-minus"></i>
                  </button>
                  <button type="button" class="btn btn-tool" data-card-widget="remove"><i class="fas fa-times"></i>
                  </button>
                </div>
              </div>
              <div class="card-body">
                <div id="donut-chart" style="height: 300px;"></div>
              </div>
              <!-- /.card-body-->
            </div>
            <!-- /.card -->
          </div>
          <!-- /.col -->
          <div class="col-md-4">
            <!-- Line chart -->
            <div class="card card-teal card-outline">
              <div class="card-header">
                <h3 class="card-title">
                  <i class="far fa-chart-bar"></i>
                  Line Chart
                </h3>

                <div class="card-tools">
                  <button type="button" class="btn btn-tool" data-card-widget="collapse"><i class="fas fa-minus"></i>
                  </button>
                  <button type="button" class="btn btn-tool" data-card-widget="remove"><i class="fas fa-times"></i>
                  </button>
                </div>
              </div>
              <div class="card-body">
                <div id="line-chart" style="height: 300px;"></div>
              </div>
              <!-- /.card-body-->
            </div>
            <!-- /.card -->
            <!-- Line chart -->
            <div class="card card-teal card-outline">
              <div class="card-header">
                <h3 class="card-title">
                  <i class="far fa-chart-bar"></i>
                  Line Chart
                </h3>

                <div class="card-tools">
                  <button type="button" class="btn btn-tool" data-card-widget="collapse"><i class="fas fa-minus"></i>
                  </button>
                  <button type="button" class="btn btn-tool" data-card-widget="remove"><i class="fas fa-times"></i>
                  </button>
                </div>
              </div>
              <div class="card-body">
                <div id="container" style="height: 300px;"></div>
              </div>
              <!-- /.card-body-->
            </div>
            <!-- /.card -->            
          </div>
        </div>
      </div>
{% endblock %}