{% extends 'assays/detail_assay.html' %}

{% block assay_content %}
 <!-- /.card -->
    <div class="row">
      <div class="col-12">

            <div id="example1_wrapper" class="dataTables_wrapper dt-bootstrap4">
              <div class="row">
                <div class="col-sm-12">
                  <table id="example1" class="table table-bordered table-hover dataTable" aria-describedby="example1_info">
                <thead class="thead-light">
                <tr>
                  <th>Mouse ID</th>
                  <th>Mouse Genotype</th>        
                  <th>Timepoint</th>        
                  <th>Measurement Date</th>
                  <th>Weight</th>
                  <th>Age</th>
                  <th>Comment</th>
                </tr>
              </thead>
              <tbody>
                {% for assay in measures %}
                <tr>
                    <!--<td>{{ assay.assayid }}</td>-->
                    <td><a href="#" class="btn" data-toggle="popover" title="<h5><b>Mouse {{assay.mid}}</h5>" data-content="
                    <p><b>Gender</b>: {{assay.mid.gender}}</p>
                    <p><b>Genotype</b>: {{assay.mid.genotype}}</p> 
                    <p><b>Date of Birth</b>: {{assay.mid.date}}</p> 
                    <p><b>Age</b>: {{assay.mid.age}} </p> 
                    <p><b>Induced</b>: {{assay.mid.induced}}</p>     
                    <p><b>Treated</b>: {{assay.mid.treated}}</p> 
                    <p><b>Diet</b>: {{assay.mid.diet}}</p> 
                    <p><b>Other Mouse Information</b>: {{assay.mid.mouse_info}}</p>
                    <p><b>Other environmental data</b>: {{assay.mid.other}}</p>"> {{ assay.mid }} </a></td>
                    <td>{{ assay.mid.genotype }}</td>          
                    <td>{{ assay.timepoint }}</td>
                    <td>{{ assay.measurement_date }}</td>
                    <td>{{ assay.weight }}</td>
                    <td>{{ assay.age }}</td>
                    <td>{{ assay.comment }}</td>
                  </tr>
                {% endfor %}
              </tbody>
                  </table>
                </div>
              </div>
            </div>
          </div>
        </div>
{% endblock %}

