{% extends 'assays/detail_assay.html' %}

  {% block assay_content %}

  <table class="table mb-0">
    <thead>
      <tr>
        <!--<<th>ID</th>-->
        <th>Mouse ID</th>
        <th>Mouse Genotype</th>        
        <th>Timepoint</th>        
        <th>Measurement Date</th>
        <th>Weight</th>
        <th>Age</th>
        <th>Comment</th>
      </tr>
    </thead>
    <tbody>
      {% for assay in measures %}
        <tr class="table-row"data-href="{% url 'assay-detail' assay.id %}">
          <!--<td>{{ assay.assayid }}</td>-->
          <td>{{ assay.mid }}</td>
          <td>{{ assay.mid.genotype }}</td>          
          <td>{{ assay.timepoint }}</td>
          <td>{{ assay.measurement_date }}</td>
          <td>{{ assay.weight }}</td>
          <td>{{ assay.age }}</td>
          <td>{{ assay.comment }}</td>
        </tr>
      {% endfor %}
    </tbody>
  </table>

{% endblock %}
