{% extends 'assays/detail_assay.html' %}

  {% block assay_content %}
 <!-- /.card -->
  <div class="row">
    <div class="col-12">
      <div class="card">
        <div class="card-header">
          <h3 class="card-title">Measurements</h3>
        </div>
        <!-- /.card-header -->
          <div class="card-body">
            <table id="example2" class="table table-bordered table-hover">
              <thead>
                <tr>
                  <th>Mouse ID</th>
                  <th>Timepoint</th>        
                  <th>Age</th>
                  <th>Measurement Date</th>
                  <th>Clinical Score</th>
                  <th>Comment</th>
                </tr>
              </thead>
              <tbody>
                {% for assay in measures %}
                  <tr class="table-row"data-href="{% url 'assay-detail' assay.id %}">
                    <!--<td>{{ assay.assayid }}</td>-->
                    <td>{{ assay.mid }}</td>
                    <td>{{ assay.timepoint }}</td>
                    <td>{{ assay.age }}</td>
                    <td>{{ assay.measurement_date }}</td>
                    <td>{{ assay.clinical_score }}</td>
                    <td>{{ assay.comments }}</td>
                  </tr>
                {% endfor %}
              </tbody>
            </table>
    </div>
  <!-- /.card-body -->
  </div>
{% endblock %}