
{% extends 'assays/detail_assay.html' %}

{% block assay_content %}
 <!-- /.card -->
    <div class="row">
      <div class="col-12">
        <div class="card">
          <div class="card-header">
            <h3 class="card-title">Measurements</h3>
          </div>
          <!-- /.card-header -->
          <div class="card-body">
            <div id="example1_wrapper" class="dataTables_wrapper dt-bootstrap4">
              <div class="row">
                <div class="col-sm-12">
                  <table id="example1" class="table table-bordered table-hover dataTable" aria-describedby="example1_info">
                <thead class="thead-light">
                <tr>
                  <th>Mouse ID</th>
                  <th>Mouse Genotype</th>        
                  <th>Timepoint</th>        
                  <th>Measurement Date</th>
                  <th>Total distance travelled in the whole arena (m)</th>
                  <th>Time spent in the peripheral zone (s) </th>
                  <th>Distance travelled in the peripheral zone (m)</th>
                  <th>Average speed in the peripheral zone (m/s)</th>
                  <th>Time spent in the central  zone (s) </th>
                  <th>Distance travelled in the central zone (m)</th>
                  <th>Average speed in the central zone (m/s)</th>
                  <th>Age</th>
                  <th>Comment</th>
                </tr>
              </thead>
              <tbody>
                {% for assay in measures %}
                  <tr class="table-row"data-href="{% url 'assay-detail' assay.id %}">
                    <!--<td>{{ assay.assayid }}</td>-->
                    <td>{{ assay.mid }}</td>
                    <td>{{ assay.mid.genotype|default_if_none:"" }}</td>          
                    <td>{{ assay.timepoint|default_if_none:"" }}</td>
                    <td>{{ assay.measurement_date|default_if_none:"" }}</td>
                    <td>{{ assay.total_distance_wa|default_if_none:"" }}</td>
                    <td>{{ assay.time_pz|default_if_none:"" }}</td>
                    <td>{{ assay.total_distance_pz|default_if_none:"" }}</td>
                    <td>{{ assay.avg_speed_pz|default_if_none:"" }}</td>
                    <td>{{ assay.time_cz|default_if_none:"" }}</td>
                    <td>{{ assay.total_distance_cz|default_if_none:"" }}</td>
                    <td>{{ assay.avg_speed_cz|default_if_none:"" }}</td>
                    <td>{{ assay.age|default_if_none:"" }}</td>
                    <td>{{ assay.comment|default_if_none:"" }}</td>
                  </tr>
                  </tr>
                {% endfor %}
              </tbody>
                  </table>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
{% endblock %}
