
{% extends 'assays/detail_assay.html' %}

{% block assay_content %}
 <!-- /.card -->
    <div class="row">
      <div class="col-12">
        <div class="card">
          <div class="card-header">
            <h3 class="card-title">Measurements</h3>
          </div>
          <!-- /.card-header -->
          <div class="card-body">
            <div id="example1_wrapper" class="dataTables_wrapper dt-bootstrap4">
              <div class="row">
                <div class="col-sm-12">
                  <table id="example1" class="table table-bordered table-hover dataTable" aria-describedby="example1_info">
                <thead class="thead-light">
                <tr>
                  <tr>
                    <th>Mouse ID</th>
                    <th>Mouse Genotype</th>        
                    <th>Timepoint</th>        
                    <th>Measurement Date</th>
                    <th>Individual latency to fall (s) trial 1</th> 
                    <th>Individual latency to fall (s) trial 2</th>
                    <th>Mean latency to fall (s)</th>
                    <th>Speed at fall (rpm) trial 1</th>
                    <th>Speed at fall (rpm) trial 2</th>
                    <th>Age (days)</th>
                    <th>Gender</th>
                    <th>Induced/Non Induced</th>
                    <th>Treated/Non Treated</th>

                    <th>Comments</th>       
                </tr>
              </thead>
              <tbody>
                {% for assay in measures %}
                  <tr class="table-row"data-href="{% url 'assay-detail' assay.id %}">
                    <!--<td>{{ assay.assayid }}</td>-->
                      <td>{{ assay.mid }}</td>
                      <td>{{ assay.mid.genotype|default_if_none:"" }}</td>          
                      <td>{{ assay.timepoint|default_if_none:"" }}</td>
                      <td>{{ assay.measurement_date|default_if_none:"" }}</td>
                      <td>{{ assay.individual_latency_fall1|default_if_none:"" }}</td>
                      <td>{{ assay.individual_latency_fall2|default_if_none:"" }}</td>
                      <td>{{ assay.mean_latency_fall|default_if_none:"" }}</td>
                      <td>{{ assay.speed_fall1|default_if_none:"" }}</td>
                      <td>{{ assay.speed_fall2|default_if_none:"" }}</td>
                      <td>{{ assay.age|default_if_none:"" }}</td>
                      <td>{{ assay.comment }}</td>
                  </tr>
                  </tr>
                {% endfor %}
              </tbody>
                  </table>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
{% endblock %}