
{% extends 'assays/detail_assay.html' %}

  {% block assay_content %}
 <!-- /.card -->
  <div class="row">
    <div class="col-12">
      <div class="card">
        <div class="card-header">
          <h3 class="card-title">Measurements</h3>
        </div>
        <!-- /.card-header -->
          <div class="card-body">
            <table id="example2" class="table table-bordered table-hover">
              <thead>
                <tr>
                  <!--<<th>ID</th>-->
                  <th>Mouse ID</th>
                  <th>Mouse Genotype</th>        
                  <th>Timepoint</th>        
                  <th>Measurement Date</th>
                  <th>
                    <span>Individual latency to fall (s)</span><span> trial 1</span>>
                  </th>
                  <th>
                    <span>Individual latency to fall (s)</span><span> trial 2</span>>
                  </th>
                  <th>Mean latency to fall (s)</th>
                  <th>
                    <span>Speed at fall (rpm)</span><span> trial 1</span>>
                  </th>
                  <th>
                    <span>Speed at fall (rpm)</span><span> trial 2</span>>
                  </th>
                  <th>Age</th>
                  <th>Comment</th>
                </tr>
              </thead>
              <tbody>
                {% for assay in measures %}
                  <tr class="table-row"data-href="{% url 'assay-detail' assay.id %}">
                    <td>{{ assay.mid }}</td>
                    <td>{{ assay.mid.genotype }}</td>          
                    <td>{{ assay.timepoint }}</td>
                    <td>{{ assay.measurement_date }}</td>
                    <td>{{ assay.individual_latency_fall1 }}</td>
                    <td>{{ assay.individual_latency_fall2 }}</td>
                    <td>{{ assay.mean_latency_fall }}</td>
                    <td>{{ assay.speed_fall1 }}</td>
                    <td>{{ assay.speed_fall2 }}</td>
                    <td>{{ assay.age }}</td>
                    <td>{{ assay.comment }}</td>
                  </tr>
                {% endfor %}
              </tbody>
            </table>
    </div>
  <!-- /.card-body -->
  </div>
{% endblock %}