{% extends 'base.html' %}

{% block content %}

  {% block content_header %}
    <a class="btn btn-outline-secondary btn-lg mt-1 mb-1" href="{% url 'pipeline-update' pipeline.id %}"> Edit </a>

    <h2>{{object.type.code}}</h2>
    <p>
      {{object.name}}
    </p>
    <div class="row">
      <a class="btn btn-secondary btn-sm mt-1 mb-1 ti-plus" href="{% url 'add_assay_to_pipeline' pipeline.id %}"></a>
  </div>
  {% endblock %}
<!--
        <div class="card-body table-responsive p-0">
          <table class="table table-striped projects">     
              <thead>
                        <tr>
                              <th style="width: 2%"></th>
                            <th style="width: 8%">
                                Code
                            </th>
                            <th style="width: 8%">
                                Name
                            </th>
                            <th style="width: 8%" class="text-center">
                                Status
                            </th>
                            <th style="width: 20%">
                                Members
                            </th>
                            <th style="width: 8%">
                                Staff
                            </th>
                            <th style="width: 8%">
                                Unit/Lab
                            </th>
                            <th style="width: 8%">
                                Duration
                            </th>
                            <th style="width: 8%">
                                Start
                            </th>                                                       
                            <th style="width: 8%">
                                Created at
                            </th>
                              <th style="width: 18%">
                              </th>
                        </tr>
              </thead>
              <tbody>
                {% for assay in assays %}
                  {% if assay.author == user or  assay.scientist == user%}
                    <tr class="table-row"data-href="{% url 'assay-detail' assay.id %}">
                  {% else %}
                    <tr>
                  {% endif %}
                      <td>
                        <li class="list-inline-item">
                          <img alt="Avatar" id="{{assay.id}}" class="squareicon user-image img-circle elevation-2" width="35" height="35">
                        </li>
                      </td>                   
                      <td>{{ assay.type }}</td>
                      <td>{{ assay.name }}</td>
                      <td class="project-state">
                          <span class="badge badge-success">Success</span>
                      </td> 
                      <td>
                          <ul class="list-inline">
                              <li class="list-inline-item">
                                  <img alt="Avatar" class="table-avatar" src="{{ assay.author.profile.image.url }}">
                              </li>
                            {% if assay.scientist %}
                              <li class="list-inline-item">
                                  <img alt="Avatar" class="table-avatar" src="{{ assay.scientist.profile.image.url }}">
                              </li>
                            {% endif %}
                          </ul>
                      </td>
                      <td>{{ assay.staff }}</td>
                      <td>{{ assay.type.unit }}</td>
                      <td>{{ assay.duration }}</td>
                      <td>{{ assay.measurement_day }}</td>
                      <td>{{ assay.created_at }}</td>
                      {% if assay.author == user or assay.scientist == user%}
                        <td class="project-actions text-right">
                            <a class="btn btn-info btn-sm" href="{% url 'assay-detail' assay.id %}">
                                <i class="fas fa-eye">
                                </i>
                            </a>

                            <a class="btn btn-info btn-sm" href="{% url 'assay-update' assay.id %}">
                                <i class="fas fa-pencil-alt">
                                </i>
                            </a>
                            <a class="btn btn-danger btn-sm" href="{% url 'assay-delete' assay.id %}">
                                <i class="fas fa-trash">
                                </i>
                            </a>
                        </td>
                      {% else %}
                        <td class="project-actions text-right"></td>                        
                      {% endif %}
                  </tr>
                {% endfor %}
              </tbody>
          </table>
        </div>
-->
<div class="row">
          <div class="col-12 connectedSortable">
            <!-- Custom Tabs -->
            <div class="card-default p-0">
              <div class="card-header">
                <h3 class="card-title p-3"></h3>
                <ul class="nav nav-pills ml-auto p-2 u-custom-font u-font-ubuntu u-spacing-30 d-flex justify-content-center">
                  <li class="nav-item"><a class="u-border-2 u-border-active-palette-1-base u-border-hover-palette-5-dark-2 u-border-no-bottom u-border-no-left u-border-no-right u-button-style u-nav-link u-text-active-palette-1-base u-text-grey-70 u-text-hover-grey-70 active" href="#tab_0" data-toggle="tab">Info</a></li>
                  {% for assay in assays %}
                  <li class="nav-item"><a class="u-border-2 u-border-active-palette-1-base u-border-hover-palette-5-dark-2 u-border-no-bottom u-border-no-left u-border-no-right u-button-style u-nav-link u-text-active-palette-1-base u-text-grey-70 u-text-hover-grey-70" href="#tab_{{assay.id}}" data-toggle="tab">{{assay.type.code}}</a></li>
                  {% endfor %}
                </ul>
              </div><!-- /.card-header -->
              <div class="card-body">
                <div class="tab-content">
                  <div class="tab-pane active" id="tab_0">
                                <!-- About Me Box -->
                    <div class="card card-info">
                      <div class="card-header">
                        <h3 class="card-title">Info {{ pipeline.type }} - {{ pipeline.id }}</h3>
                      </div>
                              <!-- /.card-header -->
                      <div class="card-body">
                        <strong><i class="fas fa-book mr-1"></i> Description </strong>
                        <p class="text-muted">
                          {{ pipeline.type.name }}
                        </p>
                        <hr>
                        <strong><i class="fas fa-pencil-alt mr-1"></i> Purpose</strong>
                        <p class="text-muted">{{ assay.type.name }}</p>
                        <hr>
                        <strong><i class="fas fa-users mr-1"></i> PI </strong>
                        <p class="text-muted">
                          <span class="tag tag-danger">{{ assay.author }},</span>
                          <span class="tag tag-success">{{ assay.scientist }}</span>
                        </p>
                        <hr>

                        <strong><i class="fas fa-calendar mr-1"></i> Dates</strong>
                        <p class="text-muted">Date Created: {{ assay.created_at }}</p>
                        <p class="text-muted">Date Modified: {{ assay.updated_at }}</p>                
                        <hr>
                        <strong><i class="far fa-file-alt mr-1"></i> Comments</strong>
                        <p class="text-muted">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Etiam fermentum enim neque.</p>
                        <h5 class="mt-5 text-muted">Project files</h5>
                        <ul class="list-unstyled">
                          <li>
                            <a href="" class="btn-link text-secondary"><i class="far fa-fw fa-file-word"></i> {{assay.rawdata_file.name}}</a>
                          </li>
                          <li>
                            <a href="" class="btn-link text-secondary"><i class="far fa-fw fa-file-word"></i> Contract-10_12_2014.docx</a>
                          </li>
                        </ul>
                      </div>
                              <!-- /.card-body -->
                    </div>
                  </div>
                  <!-- /.tab-pane -->
                    {% for assay in assays %}                <!-- /.tab-pane -->
                  <div class="tab-pane" id="tab_{{assay.id}}">
                    
                    <div class="card">
                      <div class="card-body">
                      <div class="flexbox flex-wrap">
                      <header class="coin-details-header" style="">
                      <div class="coin-info">
                          <div class="coin-logo-name">
                              <div class="coin-logo">
                                  <img id="{{assay.id}}" class="squareicon user-image img-circle elevation-2" width="70" height="70">

                              </div>
                              <div class="coin-name">
                                  {{assay.type.code}}<br>
                                  <small>{{assay.name}}</small>
                              </div>
                          </div>
                      </div>

                      <div class="key-financials">
                          <table>
                              <thead>
                                  <tr>
                                      <th>Testing Protocol</th>
                                      <th ng-show="details.coin.price_change_1D_percent" class="">Measured Values</th>
                                      <!----><th ng-if="(!_.isNull(details.coin.price_change_7D_percent))">Minimum animals</th><!---->
                                             <th ng-if="details.coin.volume_24_usd">Total animals</th>
                                      <!----><th ng-if="details.coin.last_market_cap_usd">Mouse life stage</th><!---->
                                      <!----><th ng-if="details.coin.supply">Duration time</th><!---->
                                      <!----><th ng-if="coinQuickLinks.length" class="hidden-xs">Links</th><!---->
                                             <th><a class="btn btn-outline-secondary btn-lg mt-1 mb-1" href="{% url 'assay-update' assay.id %}"><i class="ti-pencil" aria-hidden="true"></i></a></th>
                                  </tr>
                              </thead>
                              <tbody>
                                  <tr>
                                      <td><i ng-class="{ 'change-up fal fa-long-arrow-up': details.coin.price_change_1D_percent >= 0, 'change-down fal fa-long-arrow-down': details.coin.price_change_1D_percent < 0 }" class="change-up fal fa-long-arrow-up"></i><span class="underscore-tooltip" id="header-price"><button type="button" class="btn-xs btn-dark" data-toggle="modal" data-target="#modal-default">
                            {{assay.type.name}}
                          </button></span></td>
                                      <td ng-show="details.coin.price_change_1D_percent" class=""><span ng-class="{ 'change-up': details.coin.price_change_1D_percent >= 0, 'change-down': details.coin.price_change_1D_percent < 0 }" class="change-up">{% block measured_values %} {% endblock %}</span></td>
                                      <!----><td ng-if="(!_.isNull(details.coin.price_change_7D_percent))"><span ng-class="{ 'change-up': details.coin.price_change_7D_percent >= 0, 'change-down': details.coin.price_change_7D_percent < 0 }" class="change-up">{% block min_models %} {% endblock %}</span></td><!---->
                                      <!----><td ng-if="details.coin.last_market_cap_usd">{{total}}</td><!---->
                                      <!----><td ng-if="details.coin.volume_24_usd">Adult</td><!---->
                                      <!----><td ng-if="::details.total_score">
                                          <a ui-sref="{ 'view' : 'analysis', 'subview' : null }" uib-tooltip="Click to see the full analysis" tooltip-append-to-body="true" href="/coins/cardano/analysis">
                                              {{assay.duration|default_if_none:""}}/{{assay.timesteps_in|default_if_none:""}}
                                          </a>
                                      </td><!---->
                                      <!----><td ng-if="coinQuickLinks.length" class="hidden-xs">
                                          <div class="links">
                                              <!----><a ng-repeat="lnk in coinQuickLinks" analytics-on="" analytics-event="Click" analytics-category="Coin header" analytics-label="Website" uib-tooltip="Website" href="https://www.cardano.org/en/home/" target="_blank">
                                                  <i class="fa-fw fal fa-globe" aria-hidden="true"></i>
                                               </a><!----><a ng-repeat="lnk in coinQuickLinks" analytics-on="" analytics-event="Click" analytics-category="Coin header" analytics-label="Twitter" uib-tooltip="Twitter" href="https://twitter.com/Cardano" target="_blank">
                                                  <i class="fa-fw fab fa-twitter-square" aria-hidden="true"></i>
                                               </a><!----><a ng-repeat="lnk in coinQuickLinks" analytics-on="" analytics-event="Click" analytics-category="Coin header" analytics-label="Telegram" uib-tooltip="Telegram" href="https://t.me/CardanoAnnouncements" target="_blank">
                                                  <i class="fa-fw fab fa-telegram" aria-hidden="true"></i><!---->
                                          </div>
                                      </td><!---->
                                  </tr>
                              </tbody>
                          </table>

                      </div>
                      </header>
                      </div>
                      </div>
                      <hr>
                  </div>
                  
                  <!-- /.tab-pane -->
                  {% endfor %}
                </div>
                <!-- /.tab-content -->
              </div><!-- /.card-body -->

            </div>
            <!-- ./card -->
          </div>
          <!-- /.col -->
        </div>
  </div>
{% endblock %}
